@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .font-c-sans{font-family: "PT", "Open", sans;}
  .un{display: inline-block;}
  .un::after{content: "";width: 0px;height: 1px;display: block;background: rgba(0, 0, 0, .9); background: -webkit-linear-gradient(to left, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)); background: linear-gradient(to left, rgba(0, 0, 0, .1), rgba(0, 0, 0, .9)); transition: 300ms;}
  .un:hover::after{width: 100%;}
  .cb{@apply antialiased overflow-x-hidden;}
  .cw{@apply max-w-xs sm:max-w-sm md:max-w-2xl lg:max-w-3xl xl:max-w-6xl mx-auto;}
  .cr{@apply md:rounded-xl focus:outline-none focus:ring-2 focus:ring-yellow-100 focus:ring-offset-transparent focus:ring-offset-2;}
  .cr2{@apply rounded-xl focus:outline-none focus:ring-2 focus:ring-yellow-200 focus:ring-offset-transparent focus:ring-offset-2;}
  .ybtn{@apply bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 border-2 border-yellow-300 hover:border-yellow-400;}
  .cbtn{@apply w-full ybtn overflow-hidden cr2 px-2 py-1;}
  .ni{@apply block hover:text-white overflow-hidden cr border-b border-gray-600 md:border-none px-1 py-3 md:py-1 my-1;}
  .nisel{@apply text-white font-semibold;}
  .cartbtn{@apply block hover:text-white overflow-hidden cr border-b border-gray-600 md:border-none px-1 py-3 md:py-0 md:pt-1 md:pr-3 my-1;}
  .upcart{@apply w-full text-center ybtn cr2 px-2 py-1;}
  .serchbtn{@apply hidden md:block xl:hidden rounded-xl border-2 items-center overflow-hidden border-gray-400 hover:border-white hover:text-white cr py-1 pl-1 pr-2;}
  .logbtn{@apply overflow-hidden hover:text-white cr px-1 md:py-1;}
  .usrbtn{@apply inline-flex border-2 border-gray-300 hover:border-white items-center hover:text-white overflow-hidden cr px-2 py-1;}
  .fbtn{@apply block un items-center overflow-hidden hover:text-black cr py-3 md:py-1 md:px-1;}
  .fsp{@apply md:w-1/3 text-center md:space-y-4;}
  .lf{@apply text-gray-800 m-1;}
  .polbtn{@apply font-semibold cr2 px-1 pt-1;}
  .poli{@apply un md:rounded-xl hover:text-black px-2 py-1;}
  .ermsg{@apply text-2xl text-center my-5;}
  .carditem{@apply block bg-white bord shadow-md hover:border-yellow-400 hover:shadow-lg cr2;}
  .incard{@apply cursor-pointer inline-flex bg-white;}
  .h1{@apply text-2xl font-semibold pb-4;}
  .wxs{@apply font-c-sans text-lg max-w-xs mx-auto;}
  .pswsp{@apply space-y-2 mt-5;}
  .pswbtn{@apply text-center mt-7;}
  .tabcol{@apply text-center py-1;}
  .authtxt{@apply un cr2;}
  .authimg{@apply flex rounded-full cr px-1 pt-1;}
  .sectxt{@apply flex items-center justify-between pb-1 pt-3;}
  .h2txt{@apply text-2xl font-semibold;}
  .bg-gray-hover{background-color: #E8E8E8;}
  .btntxt{@apply hover:text-black border-l border-gray-300 hover:bg-gray-hover;}
  .regbtn{@apply border border-transparent text-blue-600 hover:text-blue-700 font-semibold hover:border-blue-500 cr2 px-2 py-1;}
  .blubtn{@apply bg-blue-500 border-4 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white rounded-xl cr px-2 py-1;}
  .bordb{@apply border-b border-gray-300;}
  .bordt{@apply border-t border-gray-300;}
  .bord{@apply border border-gray-300;}
  .cartab{@apply bord text-center;}
  .qtybtn{@apply flex rounded-full cr2;}
  .addbtn{@apply w-5 h-5 text-yellow-400 hover:text-yellow-500 fill-current;}
  .rembtn{@apply w-5 h-5 text-gray-400 hover:text-red-500 fill-current;}
  .showbtn{@apply bg-white border-2 border-yellow-300 hover:border-yellow-400 shadow cr2 px-3 py-1;}
  .showsvg{@apply w-4 h-4 text-yellow-400 hover:text-yellow-500;}
  .addr{@apply bord break-words bg-white shadow rounded-xl p-2 mt-1;}
  .qr{@apply addr w-64 h-64 mx-auto my-4;}
  .usra{@apply border border-transparent hover:border-yellow-400 text-gray-800 hover:text-black cr2 px-1;}
  .usrt{@apply md:inline-block align-top bord bg-white rounded-lg shadow hover:shadow-md p-3 overflow-hidden items-center mt-6 md:mr-6;}
  .form{@apply w-full bord focus:border-yellow-500 shadow placeholder-gray-600 cr2 px-2 py-1;}
  #id_qty{@apply block cr2 bg-white bord shadow focus:border-yellow-500;}
  #serc{@apply w-full bg-transparent rounded-xl border-none ring-0 ring-white focus:outline-none py-1 px-0;}
  #currency{@apply block cr2 bg-white bord rounded-lg shadow focus:border-yellow-500;}
  #chat_text{@apply flex w-full border border-gray-400 focus:border-yellow-500 hover:border-yellow-500 shadow hover:shadow-md cr2 px-2 py-1;}
  #id_note{@apply w-full text-black tracking-wide border border-gray-400 hover:border-yellow-500 focus:border-yellow-500 placeholder-gray-800 shadow hover:shadow-md cr2 px-2 py-1 mt-2;}
  #id_old_password{@apply form;}
  #id_new_password1{@apply form;}
  #id_new_password2{@apply form;}
  /* .bt{@apply text-blue-600 hover:text-blue-700 cr2 px-2 py-1;} */
}