{% extends 'newsletter/common.html' %}
{% load i18n %}
{% block title %}{% trans 'Newsletter list' %}{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<form method="post" action="."> {% csrf_token %}
  {{ formset.management_form }}
  <table>
    <tr>
      <th class="font-semibold">{% trans 'Newsletter' %}</th>
      {% if user %}
      <th class="font-semibold">{% trans 'Subscribe' %}</th>
      {% endif %}
    </tr>
    {% for form in formset.forms %}
    <tr>
      <td>{{ form.id }}{{ form.newsletter }}
        <a href="{% url 'newsletter_detail' form.instance.newsletter.slug %}">{{ form.instance.newsletter.title }}</a>
      </td>
      <td>{{ form.subscribed }}</td>
    </tr>
    {% endfor %}
  </table>
  <p><input id="id_submit" name="submit" value="{% trans 'Update subscriptions' %}" type="submit"></p>
</form>
{% else %}
<table>
  <tr>
    <th class="text-xl font-semibold pb-1">{% trans 'Newsletters' %}</th>
  </tr>
  {% for newsletter in object_list %}
  <tr>
    <td><a class="un" href="{% url 'newsletter_detail' newsletter.slug %}">{{ newsletter.title }}</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}