{% extends 'newsletter/common.html' %}
{% load i18n %}
{% block title %}{% trans 'Newsletter Update' %}{% endblock %}
{% block body %}
<table>
  <tr>
    <th class="text-2xl font-semibold mb-2">{{ object.title }}</th>
  </tr>
  <tr>
    <td><a class="un" href="{% url 'newsletter_subscribe_request' object.slug %}">{% trans 'Subscribe' %}</a></td>
  </tr>
  {% if not user.is_authenticated %}
  <tr>
    <td><a class="un" href="{% url 'newsletter_update_request' object.slug %}">{% trans 'Update' %}</a>
    </td>
  </tr>
  {% endif %}
  <tr>
    <td><a class="un" href="{% url 'newsletter_unsubscribe_request' object.slug %}">{% trans 'Unsubscribe' %}</a></td>
  </tr>
  <tr>
    <td><a class="un" href="{% url 'newsletter_archive' object.slug %}">{% trans 'Archive' %}</a></td>
  </tr>
  <tr>
    <td><a class="mt-1 hover:text-gray-800 inline-flex items-center border-4 border-gray-400 text-sm px-2 py-1 hover:shadow-inner hover:bg-gray-hover py-1 px-2 rounded-lg focus:outline-none " href="../">
      ← {% trans 'Back' %}</a></td>
  </tr>
</table>
{% endblock %}