{% extends 'newsletter/common.html' %}
{% load i18n %}
{% block title %}{% trans 'Newsletter Unsubscribe' %}{% endblock %}

{% block body %}
<h1>{% trans 'Newsletter Unsubscribe' %} {{ newsletter.title }}</h1>

<p>Welcome, {{ user }}</p>

{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% else %}

{% trans "Do you want to unsubscribe from this newsletter?" %}
<form enctype="multipart/form-data" class="text-center" method="post" action="{% url 'newsletter_unsubscribe_confirm' newsletter.slug %}"> {% csrf_token %}
  <input id="id_submit" name="submit" value="{% trans 'Unsubscribe' %}" type="submit">
</form>
{% endif %}
{% endblock %}