{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Support Us' %} ❤️{% endblock %}
{% block content %}
<div class="max-w-md font-c-sans text-center text-lg mx-auto">
  <div class="text-center bordb mb-5">
    <h1 class="h1">{% if text.title %}{{ text.title|safe }}{% else %}{% trans 'Support Us' %} 💗{% endif %}</h1>
  </div>
  <div class="bordb pb-4 mb-5">
    {% if text.btc_desc %}{{ text.btc_desc|safe }}
    {% else %}
    <p>{% trans 'Please scan the QR code to send' %} BTC</p>
    {% endif %}
    <img class="qr" src="{% static '/img/crypto/coinbase-commerce-qrcode-btc.png' %}" alt="Scan BTC QR code">
    <div id="btc">
      <b>Bitcoin {% trans 'address' %}</b>: {% if btc %}{{ btc }}{% else %}<p class="addr">3AMb6NfYHxvzivhtKf3racXNdVegYLzSE9</p>{% endif %}</div>
  </div>
  <div class="bordb pb-4 mb-5">
    {% if text.eth_desc %}{{ text.eth_desc|safe }}
    {% else %}
    <p>{% trans 'This to send' %} ETH</p>
    {% endif %}
    <img class="qr" src="{% static '/img/crypto/coinbase-commerce-qrcode-eth.png' %}" alt="Scan ETH QR code">
    <div id="eth">
      <b>Ethereum {% trans 'address' %}</b>: {% if eth %}{{ eth }}
      {% else %}<p class="addr">0x611e6cf021c451eed48d5758290481c0a6cc69f2</p>{% endif %}</div>
  </div>
  <div>
    <p>{% trans 'This to send' %} LTC</p>
    <img class="qr" src="{% static '/img/crypto/coinbase-commerce-qrcode-ltc.png' %}" alt="Scan LTC QR code">
    <div id="ltc">
      <b>Litecoin {% trans 'address' %}</b>: <p class="addr">MDgyGjEFh4g22b8umJmnCJzJCMfvJxxKTU</p></div>
  </div>
</div>
{% endblock %}{% comment %}<!--<a class="items-center bg-gradient-to-tr to-yellow-300 from-yellow-300 hover:to-yellow-300 hover:from-yellow-500 text-gray-800 hover:text-white border-2 border-yellow-300 hover:border-yellow-300 rounded focus:outline-none focus:ring-1 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2" href="https://commerce.coinbase.com/checkout/69943558-7b1b-4c5f-9f31-6c1cf19df2ae">Donate with Crypto</a> href="bitcoin:{% if btc %}{{ btc }}{% else %}3AMb6NfYHxvzivhtKf3racXNdVegYLzSE9{% endif %}"
Ethereum ETH
0x611e6cf021c451eed48d5758290481c0a6cc69f2

USD Coin (USDC)
0x611e6cf021c451eed48d5758290481c0a6cc69f2

DAI
0x611e6cf021c451eed48d5758290481c0a6cc69f2

Litecoin (LTC)
MDgyGjEFh4g22b8umJmnCJzJCMfvJxxKTU

Bitcoin Cash (BCH)
bitcoincash:qpcuafjpxmsyzrletlu5ehelr6snyyt5q5kwvfr85s

Send payment
To make a payment, send BTC to the address below.
<script src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script>
</div> donate-with-crypto{ % else % }<p>We believe that national currencies are things of the past. One, common, digital, cryptographically secure currency based on an open-source, peer-to-peer encryption protocol that is managed by no central authority. The transactions are verified by a network of nodes through cryptography and recorded in a public distributed ledger. This is the <a class="hover:text-blue-600 rounded" href="https://en.wikipedia.org/wiki/Blockchain" target="_blank" rel="noopener">blockchain</a>.</p>For now, we are using Bitcoin and Ethereum.
{% if text.eth_desc %}{{ text.eth_desc|safe }}{% else %}
<p class="py-6"><a class="text-gray-600 hover:text-gray-700 hover:underline rounded" href="https://ethereum.org/what-is-ethereum/">Ethereum</a> is an open-source, blockchain-based distributed computing platform and operating system featuring smart contract functionality. It supports a modified version of Bitcoin consensus via transaction-based state transitions.</p>
{% endif %}
doners will receive an unexpected surprise :) https://www.blockchain.com/bitcoin.pdf original paper The path to become 100% self-sufficent is long but with your help we are going to help you once the 80% self-sufficiency is achieved.
<p class="py-4 text">Bitcoin (<a class="text-orange-500 hover:text-orange-600 hover:underline"
href="https://bitcoin.org/en/resources">BTC</a>) is a digital cryptocurrency based on an open-source, peer-to-peer encryption protocol that is not managed by any government or central authority.
Transactions are verified by network nodes through cryptography and recorded in a public distributed ledger. This technology is called <a class="text-blue-500 hover:text-blue-600 hover:underline" href="https://en.wikipedia.org/wiki/Blockchain">blockchain</a>-->{% endcomment %}