{% extends 'base.html' %}
{% load i18n static %}
{% block title %}Home{% endblock %}
{% block video %}
<div class="bg-black block h-screen space-y-8 shadow-xl">
  <video loading="lazy" class="md:w-1/2 mx-auto" src="{% if page_obj.background %}{{ page_obj.background.url }}{% else %}{% static 'media_root/earth.mp4' %}{% endif %}" type="video/mp4" autoplay loop muted onerror="failed(e)"></video>
  <svg loading="lazy" class="text-gray-200 animate-pulse s fill-current mx-auto">
    <use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use>
  </svg>
  <svg id="haid" class="transition duration-500 ease-in-out animate-bounce w-7 h-7 text-gray-400 mx-auto text-center bottom-" ><use xlink:href="{% static 'img/svg-defs.svg' %}#scrol"></use></svg></div>
{% endblock %}
{% comment %}<!-- style="transform: scale(-1,1)"<p style="-webkit-filter: drop-shadow(5px 8px 6px rgba(122, 122, 122, .8)); filter: drop-shadow(5px 8px 3px rgba(214, 189, 174, 0.8));" class="opacity-1 text-center animate-pulse uppercase text-gray-30 text-7xl font-c font-semibold text-transparent bg-gradient-to-tr bg-clip-text from-gray-200 to-yellow-300 pt-1">{ { com } }</p> border-l-4 bg-neutral-100 text-neutral-600 border-neutral-300
background: hsl(340deg 100% 32%);
border-radius: 12px;

padding: 12px 42px;
border-radius: 12px;
font-size: 1.25rem;
background: hsl(345deg 100% 47%);
color: white;-->{% endcomment %}
{% block css %}
<style>
  .ddd {
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    transform: translateY(-6px);
  }
  .ddd:active .front {
    transform: translateY(-2px);
  }
</style>
{% endblock %}
{% block content %}
<div class="max-w-sm mx-auto text-center px-3 sm:px-0">
  <div class="text-xl font-c-serif px-2 sm:px-0">
    <blockquote class="relative p-4 text-xl italic">
      <div style="font-size: 5rem;" class="-ml-7 font-c-serif text-yellow-200 opacity-75 absolute top-0 leading-none" aria-hidden="true">
        &ldquo;
      </div>
      <div>{% if page_obj.quote %}{{ page_obj.quote|safe }}{% else %}{% trans 'The only limits of humans are lack of imagination and long-term thinking.' %}{% endif %}</div>
      <div style="font-size: 5rem;" class="-mt-8 font-c-serif text-yellow-200 opacity-75 absolute right-1 leading-none" aria-hidden="true">
        &rdquo;
      </div>
    </blockquote>
    <p class="text-lg sc font-c text-gray-800 pt-2">— Øutis</p>
  </div>
  <div class="my-8">
    {% if page_obj.title or page_obj.description %}
    {{ page_obj.title|safe }}
    {{ page_obj.description|safe }}
    {% endif %}
  </div>
<div class="font-c-sans space-x-12">
<button class="ddd bg-gray-600 rounded-lg shadow focus:outline-none">
  <a class="front text-xl bg-gray-300 rounded-lg px-6 py-3" href="{{ essays_url }}">
    {% trans 'Read' %}
  </a>
</button>
{% comment %} <button class="ddd bg-yellow-500 rounded-lg focus:outline-none">
  <a class="front text-xl bg-yellow-300 rounded-lg px-6 py-3" href="{{ dose_url }}">
    {% trans 'App' %}
  </a>
</button> {% endcomment %}
<button class="ddd bg-yellow-500 rounded-lg shadow focus:outline-none">
  <a class="front text-xl bg-yellow-300 rounded-lg px-6 py-3" href="{{ shop_url }}">
    {% trans 'Shop' %}
  </a>
</button>
</div>
</div>
{% endblock %}
{% block js %}
<script>
function failed(e) {
  switch (e.target.error.code) {
    case e.target.error.MEDIA_ERR_ABORTED:
      alert('You aborted the video playback.');
      break;
    case e.target.error.MEDIA_ERR_NETWORK:
      alert('A network error caused the video download to fail part-way.');
      break;
    case e.target.error.MEDIA_ERR_DECODE:
      alert('The video playback was aborted due to a corruption problem or because the video used features your browser did not support.');
      break;
    case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
      alert('The video could not be loaded, either because the server or network failed or because the format is not supported.');
      break;
    default:
      alert('An unknown error occurred.');
      break;}
}
function scrollFunction() {
  document.getElementById("haid").style.display = 'none';
}
window.onscroll = scrollFunction;
</script>
{% endblock %}
<!--{% comment %}<details>
      <summary>test</summary>
      Explanation
      <kbd>/</kbd> shortcut for search
    </details><div class="hidden lg:block h-12 pointer-events-none absolute inset-x-0 z-10 bg-gradient-to-b from-white"></div> if page_obj.title_btn_url % }
<a href="{{ page_obj.title_btn_url }}">{{ page_obj.title_btn }}</a>{% endcomment %}-->