{% extends 'base.html' %}
{% load i18n static %}
{% block css %}{% include 'base/snippets/fullscreen.html' %}{% endblock %}
{% block title %}{% if text.title %}{{ text.title }}
{% elif request.path == privacy_url %}
{% trans 'Privacy' %}
{% elif request.path == terms_url %}
{% trans 'Terms' %}
{% else %}
{% trans 'Cookie policy' %}
{% endif %}
{% endblock %}
{% block content %}
{% if text %}
<div ondblclick="exitFullscreen();">
  <div ondblclick="focusMode(document.documentElement);" class="font-c-sans max-w-md md:max-w-lg mx-auto px-2">
    <div class="text-center space-y-3 mb-4">
      <span class="inline-flex text-black text-center rounded-full items-center bg-footer p-2 m-auto" data-tippy-content="{% trans 'Transparency' %}">
      {% if request.path == privacy_url %}
      <svg class="w-5 h-5 fill-current mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#privacy"></use></svg>
      {% elif request.path == terms_url %}
      <svg class="w-5 h-5 fill-current mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#terms"></use></svg>
      {% else %}
      <svg class="w-5 h-5 fill-current mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#cookie"></use></svg>
      {% endif %}
      </span>
      <p class="text-2xl font-semibold">{% if text.title %}{{ text.title|safe }}
        {% elif request.path == privacy_url %}
        {% trans 'Privacy by design' %}
        {% elif request.path == terms_url %}
        {% trans 'Terms & Conditions' %}
        {% else %}
        {% trans 'Cookie policy' %}
        {% endif %}</p>
      <p>{% trans 'Effective date' %}: {{ text.updated_at|date:'Y-m-d' }}</p>
      <div class="space-x-9 inline-flex items-center">
      {% include 'base/snippets/theme.html' %}
      <a href="/media/{{ text.pdf }}" class="hover:text-yellow-400 inline-flex items-center focus:outline-none rounded-xl focus:ring-2 focus:ring-yellow-200 focus:ring-offset-transparent focus:ring-offset-2 py-1 px-2" data-tippy-content="{% trans 'Print' %}" target="_blank" rel="noopener">
        <svg class="w-5 h-6 fill-current mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#pdf"></use></svg> <span>PDF</span>
      </a>
      </div>
      
    </div>
    <div class="text-xl text-justify hyphens list-inside">
      {% include 'base/snippets/summary.html' with obj=object %}
      {% include 'base/snippets/contents.html' with obj=object %}
      <div class="border border-gray-300 shadow text-lg rounded-xl px-5 py-4">
      {% if text.text %}
      {{ text.text|safe }}

        {% for s in object.section_set.all %}
        {% if not forloop.first %}<h2 id="{{ s.slug }}" class="text-2xl font-c-sans font-semibold pb-1 pt-3">{{ s.title|safe }}</h2>{% endif %}
        {{ s.text|safe }}
        {% if s.img %}
        <div class="my-2"><img loading="lazy" src="{{ s.img.url }}" class="rounded-lg mx-auto"></div>
        {% endif %}
        {% endfor %}
        {% comment %}<!--{ % if text.pdf %}{% url 'home:policy-pdf' %}{% endif %}Fairness &  <div class="text-right pr-5">
        <svg class="border border-gray-300 bg-gray-900 text-gray-100 w-4 h-4 fill-current inline-block absolute -mt-6"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
        </div> -->{% endcomment %}
      </div>
    </div>
    {% endif %}
    {% include 'home/snippets/cmds.html' %}
  </div>
</div>
{% else %}
<div class="font-c-sans text-gray-900 max-w-xs mx-auto">
  <h1 class="text-xl text-black my-5">{% trans 'Legal work in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when the work is published, please type your email and click on Get Vpdates. Thank You' %}</p>
</div>
{% endif %}
{% endblock %}
{% comment %}<!--/media/{{ text.pdf }} CC-BY-NC-4.0 https://spdx.org/licenses/ add rel="noopener noreferrer" to a href
add manually pdf file or generate it from html
style="width:50px;height:50px;"{ { rslt }} show graph of the person's data if text.title2 or text.sec2 %}
<h3 class="text-lg pt-4 pb-2 sc">{ { text.title2|safe }}</h3>
{ { text.sec2|safe }}
{ % endif %}
{ % if text.title3 or text.sec3 %}
<h3 class="text-lg pt-4 pb-2 sc">{ { text.title3|safe }}</h3>
{ { text.sec3|safe }}
{ % endif %}
{ % else https://about.gitlab.com/terms/
https://docs.github.com/en/github/site-policy/github-deceased-user-policy-->{% endcomment %}