{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block content %}
<div class="wxs text-center space-y-2">
  <div>
    {% if key %}
    <p>{% trans "Apologies, an error has occured. Please reload the page" %}.</p>
    <p>{% trans 'If the error persists, please' %} <a class="un text-gray-700 hover:text-black" href="{{ contact_url }}">{% trans 'contact us' %}</a> {% trans 'and select support' %}.</p>
    {% else %}
    <p class="h1">{% trans 'Reactivate Account' %}</p>
    {% endif %}
  </div>
  <div>
    <form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
      {{ form }}
      <input value="{% trans 'Resend Email' %}" class="border-4 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white py-1 px-2 rounded-xl focus:outline-none" type="submit">
    </form>
  </div>
</div>
{% endblock %}{#<!--<p>The team has been notified and will update you once the issue will be fixed.</p>-->#}