{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Reset Password' %}{% endblock %}
{% block content %}
<div class="font-c-sans text-center max-w-xs mx-auto">
  <div class="border-b border-gray-300 pb-3">
    <h1 class="text-lg text-center font-semibold uppercase">{% trans 'Reset Password' %}</h1>
  </div>
  <form class="mt-7" method="POST" action=""> {% csrf_token %}
    {{ form }}
    <div class="text-center mt-7">
      <button type="submit" class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-900 border-2 border-yellow-300 hover:border-yellow-400 rounded focus:outline-none focus:ring-1 ring-yellow-100 ring-offset-transparent ring-offset-2 py-1 px-2">
        {% trans 'Send reset link' %}</button>
    </div>
  </form>
</div>
{% endblock %}
<!--{# accounts/reset-password/ /home/mgb/.local/share/virtualenvs/a1-dVYVCYMC/lib/python3.8/
 border-4 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white py-1 px-2 text-xs uppercase rounded-sm crispy_forms_tags |crispy #}-->