{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Update Password' %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-xs mx-auto">
{% if validlink %}
  <div class="border-b border-gray-300 pb-3">
    <h1 class="text-2xl text-center font-semibold">{% trans 'Set New Password' %}</h1>
  </div>
  <form class="mt-6" method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    <div class="relative" x-data="{ show: true }">
      <input :type="show ? 'password' : 'text'" {{ form.new_password1 }} <button @click="show = !show" class="text-xs absolute inset-y-0 right-0 flex items-center px-2 text-gray-600 mr-2 focus:outline-none" type="button">
      <span x-show="show">{% trans 'Show' %}</span>
      <span x-show="!show">{% trans 'Hide' %}</span>
      </button>
    </div>
    <div class="mb-5">
      <p>{% trans 'More characters and symbols, the better. Store it on a password manager you trust' %}.</p>
    </div>
    {{ form.new_password2 }}
    <div class="mt-7">
      <button type="submit" class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-900 border-2 border-yellow-300 hover:border-yellow-400 rounded focus:outline-none focus:ring-2 ring-yellow-100 ring-offset-transparent ring-offset-2 py-1 px-2">{% trans 'Save' %}</button>
    </div>
  </form>
{% else %}
  <p class="text-center">{% trans 'Invalid password reset link' %}.</p>
{% endif %}
</div>
{% endblock %}
{#<!-- reset/uidb64/token/ -->#}