{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Update Password' %}{% endblock %}
{% block content %}
<div class="wxs space-y-6">
{% if validlink %}
  <div class="bord">
    <h1 class="h1">{% trans 'Set New Password' %}</h1>
  </div>
  <form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    <div class="relative" x-data="{ show: true }">
      <input :type="show ? 'password' : 'text'" {{ form.new_password1 }} <button @click="show = !show" class="text-xs absolute inset-y-0 right-0 flex items-center px-2 text-gray-600 focus:outline-none mr-2" type="button">
      <span x-show="show">{% trans 'Show' %}</span>
      <span x-show="!show">{% trans 'Hide' %}</span>
      </button>
    </div>
    <div>
      <p>{% trans 'More characters and symbols, the better. Store it on a password manager you trust' %}.</p>
    </div>
    {{ form.new_password2 }}
    <div>
      <button type="submit" class="cbtn">{% trans 'Save' %}</button>
    </div>
  </form>
{% else %}
  <p class="text-center">{% trans 'Invalid password reset link' %}</p>
{% endif %}
</div>
{% endblock %}{#<!-- reset/uidb64/token/ -->#}