{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Updated' %}{% endblock %}
{% block content %}
<div class="font-c-sans text-center max-w-xs mx-auto">
  <div class="border-b border-gray-300 pb-3 mb-3">
    <h1 class="text-lg font-semibold uppercase">{% trans 'Password updated' %}</h1>
  </div>
  <p>Now you can use it to</p>
  <div class="mt-3 flex">
  <a class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-900 border-2 border-yellow-300 hover:border-yellow-400 rounded-lg focus:outline-none focus:ring-2 ring-yellow-100 ring-offset-transparent ring-offset-2 py-1 px-2" href="{{ login_url }}">{% trans 'Log in' %}</a></div>
</div>
{% endblock %}