{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Updated' %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-xs text-center mx-auto">
  <p class="text-lg font-semibold">{% trans "Great! Your password updated with success" %}</p>
  <div class="text-sm text-gray-700 mt-4">
    <p class="">{% trans "Store safely the new one. We suggest you use" %}<a class="text-gray-800 hover:underline" href="https://keepass.info/download.html" target="_blank">Keepass2</a> {% trans "as a free open source tool that can help you with that" %}.</p>
    <p class="">{% trans "Security tip: It's a good practice to update passwords every six months or year." %}</p>
  </div>
</div>
{% endblock %}