{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-xs mx-auto">
  <div class="border-b border-gray-300 mb-5 pb-3">
    <p class="text-xl font-semibold">{% trans 'Change Password' %}</p>
  </div>
  <form method="post" action=""> {% csrf_token %}
    <div class="text-gray-700 m-1">{{ form.old_password.label }}</div>
    {{ form.old_password }}

    <div class="text-gray-700 m-1 mt-2">{{ form.new_password1.label }}</div>
    {{ form.new_password1 }}

    <div class="text-gray-700 m-1 mt-2">{{ form.new_password2.label }}</div>
    {{ form.new_password2 }}

    <div class="text-center mt-6">
      <button type="submit" class="w-full border-2 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white py-1 px-2 rounded-lg">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}
{#<!-- Edit in -> /home/mgb/c/cw/venv/lib64/python3.9/site-packages/django/contrib/auth/forms/SetPasswordForm PasswordChangeForm -->#}