{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Reset Password' %}{% endblock %}
{% block content %}
<div class="font-c-sans text-lg max-w-xs mx-auto">
  <div class="border-b border-gray-300 pb-3">
    <p class="text-2xl font-semibold">{% trans 'Reset Password' %}</h1>
  </div>
  <form method="post" {% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    <div class="space-y-2 mt-5">
      <label for="id_email" class="text-gray-700 m-1">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    <div class="text-center mt-7">
      <button type="submit" class="w-full border-2 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white text-lg rounded-xl focus:outline-none py-1 px-2">
        {% trans 'Send email reset link' %}
      </button>
    </div>
  </form>
</div>
{% endblock %}
{% comment %}<!-- accounts/reset-password/ /home/mgb/.local/share/virtualenvs/a1-dVYVCYMC/lib/python3.9/
 w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-900 border-2 border-yellow-300 hover:border-yellow-400 rounded focus:outline-none focus:ring-2 ring-yellow-100 ring-offset-transparent ring-offset-2 py-1 px-2 border-4 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white py-1 px-2 text-xs uppercase rounded-sm crispy_forms_tags |crispy -->{% endcomment %}