{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Updated' %}{% endblock %}
{% block content %}
<div class="wxs text-center">
  <h1 class="h1">{% trans 'Great! Password updated' %}</h1>
  <div class="text-gray-700 mt-4">
    <p>{% trans 'More characters and symbols, the better. Store it on a password manager you trust' %} (<a class="font-semibold un focus:outline-none" href="https://keepassxc.org/download/" target="_blank" rel="noopener">KeePassXC</a> is a good one).</p>
  </div>
</div>
{% endblock %}{#<!--href="https://keepass.info/download.html Keepass2 <p>Security tip: It's a good practice to update passwords every six months or year.</p>{ % blocktranslate %}{ % endblocktranslate %}-->#}