{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Update Password' %}{% endblock %}
{% block content %}
<div class="font-c-sans text-center max-w-xs mx-auto">
  <div class="border-b border-gray-300 pb-3">
    <p class="text-lg text-center font-semibold uppercase">{% trans 'Update Password' %}</p>
  </div>
  <form class="text-sm mt-6" method="POST" action=""> {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center mt-5">
      <button type="submit" class="bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-900 border-2 border-yellow-300 hover:border-yellow-400 rounded focus:outline-none focus:ring-1 ring-yellow-100 ring-offset-transparent ring-offset-2 py-1 px-2">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}
<!--{# Edit in -> /home/mgb/.local/share/virtualenvs/a1-dVYVCYMC/lib/python3.8/ SetPasswordForm #}-->