{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Change Password' %}{% endblock %}
{% block content %}
<div class="wxs">
  <div class="bordb">
    <h1 class="h1">{% trans 'Change Password' %}</h1>
  </div>
  <form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    <div class="pswsp">
      <div>
        <label for="id_old_password" class="lf">{{ form.old_password.label }}</label>
        {{ form.old_password }}
      </div>
      <div>
        <label for="id_new_password1" class="lf">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
      </div>
      <div>
        <label for="id_new_password2" class="lf">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
      </div>
    </div>
    <div class="pswbtn">
      <button type="submit" class="cbtn">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}
{#<!--w-full border-2 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white text-lg rounded-xl focus:outline-none py-1 px-2 Edit class in -> /home/mgb/c/cw/venv/lib64/python3.9/site-packages/django/contrib/auth/forms/ SetPasswordForm PasswordChangeForm -->#}