{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Cart' %}{% endblock %}
{#<!--if edited user currency qty, update cdev.js 184 https://html.spec.whatwg.org/multipage/tables.html#the-th-element-->#}
{% block content %}
<div id="cartapp" class="font-c-sans max-w-sm mx-auto">
  <div v-if="products.length > 0">
    <h1 class="h1 text-center">{% trans 'Cart' %}</h1>
    <table class="text-lg mx-auto">
      <thead class="border-b border-gray-500">
        <tr>
          <th colspan="2" class="tabcol">{% trans 'Product' %}</th>
          <th colspan="1" class="tabcol"><label for="id_qty">{% trans 'Quantity' %}</label></th>
          <th colspan="1"><span hidden>Pad</span></th>
          <th colspan="1" class="tabcol">{% trans 'Price' %}</th>
          <th colspan="2"><span hidden>Pad</span></th>
        </tr>
      </thead>
      <tbody class="items-center">
        <tr v-for="p in products" class="bordb">
          <td colspan="2" class="tabcol pr-2 py-3">
            <a :href="p.url" class="bt hover:underline flex items-center space-x-3" target="_blank" rel="noopener">
              <img :src="p.img" alt="p.name" class="w-12 h-12 rounded"><span>[[ p.name ]]</span>
            </a>
          </td>
          <td colspan="1" class="tabcol">
            <div class="inline-flex items-center bg-white bord rounded-xl shadow space-x-2 px-2 py-1">
              <button id="removeBtn" v-if="p.qty < 2" @click="remove(p.id, p.item_total)" class="qtybtn" data-tippy-content="{% trans 'Remove' %}">
                <svg class="rembtn"><use xlink:href="{% static 'img/svg-defs.svg' %}#delete"></use></svg><span hidden>{% trans 'Remove' %}</span>
              </button>
              <button id="lessQty" v-if="p.qty > 1" @click="decreaseQty(p.id, p.qty, p.qty_instock, p.price)" class="qtybtn">
                <svg class="rembtn"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
              </button>
              <span>[[ p.qty ]]</span>
              <button id="moreQty" v-if="p.qty < p.qty_instock" @click="addQty(p.id, p.qty, p.qty_instock, p.price)" class="qtybtn">
                <svg class="addbtn"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
              </button>
              <span v-if="p.qty >= p.qty_instock" class="text-xs">
                {% trans 'Max' %}
              </span>
            </div>
          </td>
          <th colspan="1" class="px-2"><span hidden>Pad</span></th>
          <td colspan="1" class="tabcol">
            {% if user.currency == "USD" %}${% else %}€{% endif %}[[ p.item_total ]]
          </td>
          <td colspan="1"><span hidden>Pad</span></td>
          <td colspan="1" class="pl-4">{#<!--cart-item-remove-form  % include 'carts/snippets/remove-product.html' with id=object.id cart=cart in_cart=True % -->#}
            <button @click="remove(p.id, p.item_total, p.qty)" class="qtybtn" data-tippy-content="{% trans 'Remove' %}">
              <svg class="rembtn"><use xlink:href="{% static 'img/svg-defs.svg' %}#delete"></use></svg><span hidden>{% trans 'Remove' %}</span>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><span hidden>Pad</span></td>{#<!-- if shipment cost + tax <th>Subtotal <p class="cart-subtotal">{{ cart.subtotal }}</p></td></tr>{ { object.tax }}% include 'base/snippets/currency.html' %}-->#}
          <th colspan="2" class="tabcol border-b border-gray-500 py-2">{% trans 'Total' %}</th>
        </tr>
        <tr>
          <td colspan="4"><span hidden>Pad</span></td>
          <td colspan="2" class="tabcol py-2">
            {% if user.currency == "USD" %}${% else %}€{% endif %}[[ totalOrder ]]
          </td>
        </tr>
      </tfoot>
    </table>
    <div class="flex items-center justify-around text-lg mt-6">
      {% include 'base/snippets/backbtn.html' with url=shop_url %}
      <a class="inline-flex text-yellow-500 hover:text-yellow-600 rounded-full cr2 my-1" href="https://commerce.coinbase.com/checkout/7f1639eb-d280-4b97-afdd-168c0ec50cd8" data-tippy-content="{% trans 'Buy with Crypto' %} ⚡">
        <svg class="w-9 h-9 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#btc"></use></svg>
        <span hidden>{% trans 'Buy with Crypto' %}</span>
      </a>
      {% include 'carts/snippets/checkbtn.html' %}
    </div>
  </div>
  <div v-else class="text-center">
    <h1 class="h1 my-6">{% trans 'Your cart is empty' %}</h1>
    {% include 'base/snippets/sad.html' %}
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  var cartapp = new Vue({
    el: '#cartapp',
    delimiters: ['[[', ']]'],
    store: store,
    data () {
      return {
        errors: [],
        products: [{{ products|safe }}],
      }
    },
    computed: {
      nrItems: function() {
        return store.state.nrItems;
      },
      totalOrder: function() {
        return store.state.totalOrder;
      }
    },
    methods: {
      decreaseQty(productId, qty, qty_instock, price) {
        var data = {
          'product_id': productId, 
          'qty': parseInt(qty) - 1,
          'update': true
        };
        if (parseInt(qty) - 1 === 0) {
          this.remove(productId);
        } else {
          fetch('/cart/update/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
          })
          .then((response) => {
            for (var i = 0; i < this.products.length; i++) {
              var p = this.products[i];
              if (p.id === productId && qty <= qty_instock) {
                p.qty = parseInt(p.qty) - 1;
                p.item_total = parseInt(p.qty) * parseFloat(p.price);
              }
            }
            store.commit('updateNrItems', -1);
            store.commit('updateTotal', -parseFloat(price));
          })
          .catch(function (error) {
            console.log(error);
          })
        }
      },
      addQty(productId, qty, qty_instock, price) {
        var data = {
          'product_id': productId,
          'qty': parseInt(qty) + 1,
          'update': true
        };
        fetch('/cart/update/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          credentials: 'same-origin',
          body: JSON.stringify(data)
        })
        .then((response) => {
          for (var i = 0; i < this.products.length; i++) {
            var p = this.products[i];
            if (p.id === productId && qty < qty_instock) {
              p.qty = parseInt(p.qty) + 1;
              p.item_total = p.qty * parseFloat(p.price);
            }
          }
          store.commit('updateNrItems', 1);
          store.commit('updateTotal', parseFloat(price));
        })
        .catch(function (error) {
          console.log(error);
        })
      },
      remove(productId, price, qty) {
        var data = {
          'product_id': productId,
          'update': true
        };
        fetch('/cart/remove-from-cart/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          credentials: 'same-origin',
          body: JSON.stringify(data)
        })
        .then((response) => {
          this.products = this.products.filter(product => product.id !== productId);
          store.commit('updateNrItems', -parseInt(qty));
          store.commit('updateTotal', -parseFloat(price));
        })
        .catch(function (error) {
          console.log(error);
        })
      }
    }
  })
</script>
{% endblock %}{% comment %}<!--._. currency update total Algorand blockchain <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script> -->{% endcomment %}