{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Cart' %}{% endblock %}
{#<!-- if edit user currency qty update cdev.js 184 https://html.spec.whatwg.org/multipage/tables.html#the-th-element-->#}
{% block content %}
<div id="cartapp" class="font-c-sans max-w-sm mx-auto">
  <div v-if="products.length > 0">
    <div class="text-center">
      <h1 class="h1">{% trans 'Cart' %}</h1>
    </div>
    <table class="text-lg mx-auto">
      <thead class="border-b border-gray-500">
        <tr>
          <th scope="col" colspan="1"><span hidden>Index</span></th>
          <th scope="col" class="tabcol">{% trans 'Product' %}</th>
          <th scope="col" class="tabcol">{% trans 'Quantity' %}</th>
          <th scope="col" class="tabcol">{% trans 'Price' %}</th>
          <th scope="col" colspan="1"><span hidden>Pad</span></th>
        </tr>
      </thead>
      <tbody class="items-center">
        <tr v-for="p in products" class="bordb">
          <td colspan="1">
            <!-- <figure v-if="p.thumbnail.url" class="w-48 h-48">
              <img :src="p.thumbnail.url">
            </figure> -->
          </td>
          <td class="p-3">
            <a :href="p.url" class="bt">[[ p.title ]]</a>
          </td>
          <!-- <div id="product-cart-tip" class="hidden">
            <img loading="lazy" :src="p.thumbnail" alt="p.title {% trans 'Image' %}" class="w-64 h-64">
          </div>-->
          <td class="px-3">
            <div class="flex items-center bg-white bord rounded-xl shadow space-x-2 px-2 py-1">
              <button v-if="p.quantity > 1" @click="decrementQty(p.id, p.quantity, p.price)" class="rounded-full cr2">
                <svg class="w-5 h-5 text-gray-400 hover:text-red-500"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
              </button>
              <button v-if="p.quantity < 2" @click="removeItem(p.id)" class="flex rounded-full cr2" data-tippy-content="{% trans 'Remove' %}">
                <svg class="w-5 h-5 text-gray-400 hover:text-red-500 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#delete"></use></svg><span hidden>{% trans 'Remove' %}</span>
              </button>
              <span>[[ p.quantity ]]</span>
              <button @click="incrementQty(p.id, p.quantity, p.price)" class="rounded-full cr2">
                <svg class="w-5 h-5 text-yellow-400 hover:text-yellow-500"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
              </button>
            </div>
          </td>
          <td class="px-3">
            <p>{% if user.currency == "USD" %}${% else %}€{% endif %}[[ p.total_price ]]</p>
          </td>
          <td class="pl-4">
            <button @click="removeItem(p.id)" class="flex rounded-full cr2" data-tippy-content="{% trans 'Remove' %}">
              <svg class="w-5 h-5 text-gray-400 hover:text-red-500 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#delete"></use></svg><span hidden>{% trans 'Remove' %}</span>
            </button>
          </td>
        </tr>
        <tfoot>
          <tr>
            <th colspan="3"></th>
            <th scope="col" class="border-b border-gray-500 py-2">{% trans 'Total' %}</th>
          </tr>
        <tr>
          <td colspan="3"></td>
          <!-- <td>[[ numItems ]]</td> -->
          <td class="tabcol">
            <p>{% if user.currency == "USD" %}${% else %}€{% endif %}[[ totalCost ]]</p>
          </td>
        </tr>
        <!-- <tr v-if="coupon_value">
          <td colspan="3">Total cost with coupon:</td>
          <td>[[ totalCostWithCoupon ]]</td>
        </tr> -->
      </tfoot>
    </table>
    <div class="flex items-center justify-around text-lg mt-6">
      {% include 'base/snippets/backbtn.html' with url=shop_url %}
      <a class="inline-flex text-yellow-500 hover:text-yellow-600 rounded-full cr2 my-1" href="https://commerce.coinbase.com/checkout/7f1639eb-d280-4b97-afdd-168c0ec50cd8" data-tippy-content="{% trans 'Buy with Crypto' %} ⚡">
        <svg class="h-9 w-9 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#btc"></use></svg>
        <span hidden>{% trans 'Buy with Crypto' %}</span>
      </a>
      {% include 'carts/snippets/checkbtn.html' %}
    </div>
  </div>
  <div v-if="products.length === 0" class="text-center">
    <h1 class="h1 my-6">{% trans 'Your cart is empty' %}</h1>
    {% include 'base/snippets/sad.html' %}
  </div>
</div>
{{ products|safe }}
{% endblock %}<!-- <script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script type="application/javascript" src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="application/javascript" src="https://www.paypal.com/sdk/js?client-id={{ pub_key_paypal }}"></script> -->
{% block js %}
<script>
  var cartapp = new Vue({
    el: '#cartapp',
    delimiters: ['[[', ']]'],
    store: store,
    data () {
      return {
        errors: [],
        // first_name: '{{ first_name }}',
        // last_name: '{{ last_name }}',
        // email: '{{ email }}',
        // address: '{{ address }}',
        // zipcode: '{{ zipcode }}',
        // place: '{{ place }}',
        // phone: '{{ phone }}',
        products: [{{ products|safe }}]
        // coupon_value: 0,
        // coupon_code: '',
        // showCouponCodeError: false
      }
    },
    computed: {
      numItems: function() {
        return store.state.numItems
      },
      totalCost: function() {
        return store.state.totalCost
      },
      totalCostWithCoupon: function() {
        if (this.coupon_value > 0) {
            return store.state.totalCost * (parseInt(this.coupon_value) / 100);
        } else {
            return store.state.totalCost;
        }
      }
    },
    methods: {
      decrementQty(productId, quantity, price) {
        var data = {
          'product_id': productId, 
          'update': true,
          'quantity': parseInt(quantity) - 1
        };
        if (parseInt(quantity) - 1 === 0) {
          this.removeItem(productId);
        } else {
          store.commit('increment', -1);
          store.commit('changeTotalCost', -parseFloat(price));
          fetch('/api/add-to-cart/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            credentials: 'same-origin',
            body: JSON.stringify(data)
          })
          .then((response) => {
            for (var i = 0; i < this.products.length; i++) {
              var product = this.products[i];
              if (product.id === productId) {
                this.products[i].quantity = parseInt(this.products[i].quantity) - 1;
                this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
              }
            }
          })
          .catch(function (error) {
            console.log('Error 2');
            console.log(error);
          })
        }
      },
      incrementQty(productId, qty, price) {
        // for (var i = 0; i < this.products.length; i++) {
        //   var product = this.products[i];

        //   if (product.id === productId) {
        //     if (quantity < product.num_available) {
              var data = {
                'product_id': productId,
                'quantity': parseInt(qty) + 1,
                'update': true
              };
              store.commit('increment', 1);
              store.commit('changeTotalCost', +parseFloat(price));

              fetch('/api/add-to-cart/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
              })
              .then((response) => {
                for (var i = 0; i < this.products.length; i++) {
                  var product = this.products[i];

                  if (product.id === productId) {
                    this.products[i].quantity = parseInt(this.products[i].quantity) + 1;
                    this.products[i].total_price = parseInt(this.products[i].quantity) * parseFloat(this.products[i].price)
                  }
                }
              })
              .catch(function (error) {
                console.log('Error 2');
                console.log(error);
              })
          //   } else {
          //     alert('No more available in stock!');
          //   }
          // }
        // }
      },
      removeItem(productId) {
        console.log('Product ID: ', productId);
        var data = {
          'product_id': productId,
        };
        fetch('/api/remove-from-cart/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          credentials: 'same-origin',
          body: JSON.stringify(data)
        })
        .then((result) => {
          console.log(result)
          if(result.error) {
            console.log('Error 1');
            throw result;
          }
        })
        .then((result) => {
          if(result) {
            console.log('Removed from cart');
          }
          this.products = this.products.filter(product => product.id !== productId)
        })
        .catch(function (error) {
          console.log('Error 2');
          console.log(error);
        })
      }
    }
  })
</script>
{% endblock %}