{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Checkout' %}{% endblock %}
{% block content %}
<div class="font-c-sans md:max-w-xl mx-auto">
{% if not billing_profile %}
  <div class="text-xl text-center items-center justify-between space-y-8 md:space-y-0 md:flex h-screen">
    <div class="space-y-3 md:pb-64">
      <h1 class="h1">{% trans 'Have an account?' %}</h1>
      <a href="{{ login_url }}?next={{ request.get_full_path|urlencode }}" class="block bg-white border-4 border-yellow-400 hover:border-yellow-500 hover:bg-gray-100 overflow-hidden rounded-full cr2 px-3 py-2">{% trans 'Log In' %}</a>
    </div>
    <div class="space-y-3 bordt md:border-none pt-6 md:pt-0 md:pb-64">
      <h1 class="h1">{% trans 'Need new account?' %}</h1>
      <a href="{{ register_url }}?next={{ request.get_full_path|urlencode }}" class="block cbtn rounded-full px-3 py-2">{% trans 'Sign Vp' %}</a>
    </div>
  </div>
{% else %}

  {% if not object.shipping_address and shipping_address_required %}
  <div class="text-center bordb mb-4{% if not address_qs %} wxs{% endif %}">
    <h1 class="h1 {% if address_qs %}w-full{% else %}md:mx-4 xl:mx-10{% endif %}">{% trans 'Shipping Address' %}</h1>
  </div>
  {% if address_qs %}
  <div class="space-y-4 md:space-y-0 md:space-x-8 md:inline-flex">
    <div class="md:w-1/2">
      {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' add_next_btn=shipping_address_required %}
    </div>
    <div class="md:w-1/2 bordb md:border-none pb-6 md:pb-0">
      <p class="font-semibold">{% trans 'Same shipping address?' %}</p>
      {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri action_url=checkout_address_reuse address_type='shipping' %}
    </div>
    
  </div>
  {% else %}
  <div class="mx-auto">
    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
  </div>
  {% endif %}

  {% elif not object.billing_address %}
  <div class="text-center bordb mb-4{% if not shipping_address_required %} wxs{% endif %}">
    <h1 class="h1 {% if address_qs %}w-full{% else %}md:mx-4 xl:mx-10{% endif %}">{% trans 'Billing Address' %}</h1>
  </div>
  {% if shipping_address_required %}
  <div class="space-y-4 md:space-y-0 md:space-x-8 md:inline-flex">
    <div class="md:w-1/2">
      {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' add_next_btn=shipping_address_required %}
    </div>
    <div class="md:w-1/2 bordb md:border-none pb-6 md:pb-0">
      <p class="font-semibold">{% trans 'Is it the same of your shipping address?' %}</p>
      {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri action_url=checkout_address_reuse address_type='billing' %}
    </div>
    
  </div>
  {% else %}
  <div class="wxs">
    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
  </div>
  {% endif %}
  {% else %}
  {% if has_card %}
  <div class="space-y-6 md:wxs">
    <div class="bordb text-center">
      <h1 class="h1">{% trans 'Review' %}</h1>
    </div>
    <table class="w-full">
      <tbody>
{#<!--<div class="space-y-1"><p class="ml-1"><b><th class="text-left">{% trans 'Cart' %}:</th> Product{% if object.cart.products.all|length > 1 %}s{% endif %}-->#}
      {% for p in object.cart.products.all %}
        <tr>
          <td><a href="{{ p.get_absolute_url }}" class="cr2 inline-flex" target="_blank" rel="noopener"><img src="{{ p.thumbnail.url }}" alt="{{ p.name }}" class="w-24 h-24 rounded-xl"></a></td>
          <td class="block text-right"><a href="{{ p.get_absolute_url }}" class="cr2 text-blue-600 hover:text-blue-700 hover:underline" target="_blank" rel="noopener">{{ p.name }}</a></td>
          <td class="block text-black text-right">{% trans 'Quantity' %}: {{ p.order_qty }}</td>
        </tr>
      {% endfor %}
        <tr class="bordt">
          <th class="text-left">{% trans 'Billing Address' %}:</th>
          <td class="text-right">{{ object.billing_address.get_address|linebreaks }}</td>
        </tr>
        <tr class="bordt">
          <th class="text-left">{% trans 'Payment Card' %}:</th>
          <td class="block text-right">{{ billing_profile.default_card }}**</td>
          <td class="block text-right"><a href="{{ billing_profile.get_payment_method_url }}?next={{ request.build_absolute_uri }}" class="cr2 text-blue-600 hover:text-blue-700 hover:underline" target="_blank" rel="noopener">{% trans 'Change Card' %}</a></td>
        </tr>
        {% if shipping_address_required %}
        <tr class="bordt">
          <th class="text-left">{% trans 'Shipping Address' %}:</th>
          <td class="text-right">{{ object.shipping_address.get_address|linebreaks }}</td>
        </tr>
        {% endif %}
        {% if shipping_address_required %}
        <tr class="bordt text-right">
          <th class="text-left">{% trans 'Shipping Total' %}:</th>
          <td>{% include 'base/snippets/currency.html' %}{{ object.shipping_total }}</td>
        </tr>
        <tr class="text-right">
          <th class="text-left">{% trans 'Cart Total' %}:</th>
          <td>{% include 'base/snippets/currency.html' %}{{ object.cart.total }}</td>
        </tr>
        {% endif %}
        <tr class="text-right">
          <th class="text-left">{% trans 'Order Total' %}:</th>
          <td><span class="text-2xl ml-2">{% include 'base/snippets/currency.html' %}{{ object.total }}</span></td>
        </tr>
      </tbody>
    </table>
    <form method="post" class="text-center text-xl"> {% csrf_token %}
      <button type="submit" class="cbtn">
        <span class="inline-flex items-center">
          <svg class="w-5 h-5 fill-current mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#checkout"></use></svg>
          {% trans 'Complete' %}
        </span>
      </button>
    </form>
  </div>
  {% else %}
  {% include 'billing/payment-method.html' with publish_key=publish_key next_url=request.build_absolute_uri %}
  {% endif %}
  {% endif %}
{% endif %}
</div>
{% endblock %}{% comment %}<!--action="" { { billing_url }} include 'accounts/register.html' %}
<div><b>{% trans 'Shipping Total' %}</b>: {% include 'base/snippets/currency.html' %}{{ object.shipping_total }}
</div>
<div><b>{% trans 'Cart Total' %}</b>: {% include 'base/snippets/currency.html' %}{{ object.cart.total }}</div>
{% endif %}
<div><b>{% trans 'Order Total' %}</b>: <span class="bg-white border-2 border-yellow-300 rounded-xl px-2 py-1 ml-1">{% include 'base/snippets/currency.html' %}{{ object.total }}</span></div>
<p>Continue as Guest</p>{ % url "guest_register" as guest_register_url form=guest_form action_url=guest_register_url %}
<a class="inline-block rounded bg-yellow-300 hover:bg-yellow-400 border-b-4 border-yellow-400 hover:border-yellow-300 p-2 pb-1" href="{{ register_url }}">Sign Up</a>
<a class="inline-block text-center mx-auto rounded bg-yellow-400 hover:bg-yellow-300 border-b-4 border-yellow-300 hover:border-yellow-400 p-2 pb-1" href="{{ login_url }}">Enter</a>
{ % include 'accounts/snippets/form.html' with form=register_form next_url=request.build_absolute_uri action_url=register_url %}
{ % include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
?next={ { cart_url }} check_done bug { % include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri -->{% endcomment %}