{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Thank you' %}{% endblock %}
{% block content %}
<div class="wxs text-center text-xl">
  <div class="mt-14 mb-10">
    <svg class="ae s fill-current w-40 h-40 mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
  </div>
  <p>{% trans "You're going to receive an email at" %} <code class="px-1">{{ user.email }}</code> {% trans 'shortly' %}.</p> 
  <a href="{% if object.is_digital %}{{ dig_lib_url }}{% else %}{{ home_url }}{% endif %}" class="hover:text-yellow-500 inline-flex items-center border-4 border-yellow-300 hover:border-yellow-400 bg-white text-2xl rounded-full focus:outline-none py-2 px-3 mt-6">{% if object.is_digital %}<svg class="fill-current w-6 h-6 mr-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#dl"></use></svg> {% trans 'Download' %}{% else %}{% trans 'Thank you' %}{% endif %}</a>
</div>
{% endblock %}{#<!-- Show gratitude link to a gift add image link to user mail <a href="{ { request.user.email }}">{ { request.user.email }}</a>-->#}