{% extends 'base.html' %}
{% load i18n static widget_tweaks %}
{% block title %}{% trans 'Contact Vs' %}{% endblock %}
{% block content %}
<div class="max-w-sm mx-auto px-1">
  <div class="font-c-sans bg-footer rounded-lg border border-gray-400 overflow-hidden py-6 px-5 md:px-7">
    <form method="post"> {% csrf_token %}
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
      <div class="space-y-4 text-center">
        <label for="messagetype">
          {{ form.message_type.label }}
        </label>
        {% if form.message_type %}
        <div class="relative md:w-1/2 mx-auto">
          {{ form.message_type }}
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-4 text-gray-600">
            <svg class="r-180 fill-current h-4 w-4"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow-d"></use></svg>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="space-y-4 mx-auto mt-4">
        <div>
          <label class="text-gray-700 m-2" for="chat_fn">{{ form.first_name.label }}</label>
          {{ form.first_name }}
        </div>
        <div>
          <label class="text-gray-700 m-2" for="chat_ln">{{ form.last_name.label }}</label>
          {{ form.last_name }}
        </div>
        <div>
          <label class="text-gray-700 m-2" for="chat_email">{{ form.email.label }}</label>
          {{ form.email }}
        </div>
        <div>
          <label class="text-gray-700 m-2" for="chat_pc">{{ form.postal_code.label }}</label>
          {{ form.postal_code }}
        </div>
        <div>
          <label class="text-gray-700 m-2" for="chat_subject">{{ form.subject.label }}</label>
          {{ form.subject }}
        </div>
        <div>
          <label class="text-gray-700 m-2" for="chat_text">{{ form.text.label }}</label>
          {{ form.text }}</div>
        <div class="mt-6">
          <a id="sendbtn">
          <button class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-800 border-2 border-yellow-300 hover:border-yellow-400 rounded-lg focus:outline-none focus:ring-1 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2">
            <span class="inline-flex items-center text-center">{% trans 'Send' %}<svg class="fill-current h-3 w-3 ml-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#send"></use></svg></span>
          </button></a>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  if (document.querySelector("#chat_fn").value) {
    document.querySelector("#sendbtn").onclick = function (e) {
      var roomName = document.querySelector("#chat_fn").value + "-" + Math.floor(Math.random() * 1000000);
      var userName = document.querySelector("#chat_fn").value
      window.location.replace(roomName + '/?user=' + userName);
    };
  }
</script>
{% endblock %}
{% comment %}<!-- + "-" + document.querySelector("#chat_ln").value action="{ { contact_url }}" <a href="{ % url 'chat:room' with room= %}"
// var userName = document.querySelector("#chat_email").value;// + "/?username=" + userName { % block js %}{ % endblock %}
<script>$('form').preventDoubleSubmission();</script>
<script>
jQuery.fn.preventDoubleSubmission = function() {
  $(this).on('submit',function(e){
    var $form = $(this);
    if ($form.data('submitted') === true) {
      e.preventDefault();
    } else {
      $form.data('submitted', true);
    }
  });
  return this;
};
</script>
<div x-data="{open: false}" class="sm:w-1/ mx-auto relative inline-block mb-4">
  <button @click="open=!open" type="button" class="flex mx-auto text-sm justify-center w-ful rounded-lg border border-gray-300 p-2 text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-yellow-200" id="options-menu" aria-expanded="true" aria-haspopup="true">
    <svg class="r-180 fill-current text-gray-600 h-5 w-5 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow-d"></use></svg>
  </button>
  <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="bottom- bg-white origin-top-right absolute right-0 mt- -mr- rounded-lg shadow-lg" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    <div class="py-1" role="none">
      { % for x, c in form.fields.message_type.choices %}
      <p id="{{ x }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">{{ c }}</p>
      {% endfor %}
    </div>
  </div>
</div>
jQuery plugin to prevent double submission of forms// Previously submitted - don't submit again
// Mark it so that the next submit can be ignored  // Keep chainability
<div x-data="{open: false}" class="relative inline-block mb-4">
      <button @click="open=!open" type="button" class="flex mx-auto text-sm justify-center w-ful rounded-lg border border-gray-300 shadow-sm px-2 py-1 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-yellow-200" id="options-menu" aria-expanded="true" aria-haspopup="true">
        {% trans 'Language' %}
        <svg class="r-180 fill-current text-gray-600 h-5 w-5 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow-d"></use></svg>
      </button>
    <!-Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
        <div x-show="open" class="origin-top-right absolute right-0 mt-1 w- rounded-lg overflow-hidden shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
          <div class="py-1" role="none">
            {% get_current_language as lang_code %}
            {% get_available_languages as langs %}
            {% get_language_info_list for langs as languages %}
            {% for l in languages %}
            <a href="/{{ l.code }}/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">{{ l.name_local }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
$(document).ready(function(){
$("form").submit(function(){
setTimeout(function() {
    $('input').attr('disabled', 'disabled');
    $('a').attr('disabled', 'disabled');
  }, 50);
})
});
<p class="pt-4">You are: <ul class="list-inside"> <li>Open-minded</li> <li>Thoughtful</li> <li>Willing to question the status quo</li> <li>Focused on something bigger than yourself</li> <li>Get things done, no social media or game addicted</li></ul></p>
<select
class="block appearance-none w-full border border-gray-500 text-black py-2 px-2 pr-8 rounded leading-tight outline-none bg-white hover:border-gray-600"
id="message-type-id">
<option>Employment/Collaboration
<input
class="hover:border-gray-600 appearance-none block w-full text-black border border-gray-500 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-900 hover:shadow"
id="contact-first-name" type="text" placeholder="First Name">
<input
class="hover:border-gray-600 appearance-none block w-full text-black border border-gray-500 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-900 hover:shadow"
id="contact-last-name" type="text" placeholder="Last Name">
<input
class="hover:border-gray-600 appearance-none block w-full bg-white text-black border border-gray-500 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-900 hover:shadow"
id="contact-email" type="text" placeholder="Email">
<input
class="hover:border-gray-600 appearance-none block w-full bg-white text-black border border-gray-500 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-900 uppercase hover:shadow"
id="contact-subject" type="text" placeholder="Subject">
<textarea
class="hover:border-gray-600 block w-full h-40 tracking-wide border border-gray-500 rounded text-black py-2 px-3 placeholder-gray-800 hover:shadow"
placeholder="Everyone knows something someone else doesn't."></textarea>
<input
class="hover:border-gray-600 appearance-none block w-full bg-white text-black border border-gray-500 rounded py-2 px-3 leading-tight focus:outline-none focus:bg-white placeholder-gray-900 hover:shadow"
id="contact-subject" type="text" placeholder="Zip/Postal Code">
{ % for field in form.visible_fields %}
<div class="w-full md:w-1/2 px-3 lg:px-6 mb-4 md:mb-6">
<!-form-group <label for="{{ field.id_for_label }}">{{ field.label }}</label> ->
{{ field }}
{ % for error in field.errors % }
<span class="help-block">{{ error }}</span>
{ % endfor % }
</div>
{ % endfor % }
{ { form.as_table }} <label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="contact-first-name">First Name</label>
border-red-500 <p class="text-red-500 text-xs italic">Please fill out this field.</p>
<label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="contact-subject">Email</label>
<label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="contact-subject">Subject</label>
<div class="w-full px-2 py-2">
<label class="block uppercase tracking-wide text-gray-600 text-xs font-bold mb-2" for="grid-state">
Country
</label>
<div class="relative">
<select class="block appearance-none w-full border border-gray-500 text-gray-600 py-3 px-4 pr-8 rounded-sm leading-tight outline-none bg-white hover:border-gray-800" id="grid-state">
<option>Afghanistan</option>
Albania
Algeria
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Central African Republic (CAR)
Chad
Chile
China
Colombia
Comoros
Congo, Democratic Republic of the
Congo, Republic of the
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini (formerly Swaziland)
Ethiopia
Fiji
Finland
France
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Mauritania
Mauritius
Mexico
Micronesia
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar (formerly Burma)
Namibia
Nauru
Nepal
Netherlands
New Zealand
Nicaragua
Niger
Nigeria
North Korea
North Macedonia (formerly Macedonia)
Norway
Oman
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Rwanda
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Korea
South Sudan
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Tuvalu
Uganda
Ukraine
United Arab Emirates (UAE)
United Kingdom (UK)
United States of America (USA)
Uruguay
Uzbekistan
Vanuatu
Vatican City (Holy See)
Venezuela
Vietnam
Yemen
Zambia
Zimbabwe
</select>
<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-600">
  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
</div>-->{% endcomment %}