{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% blocktranslate with title=newsletter.title %}Unsubscription from {{ title }}{% endblocktranslate %}</title>
</head>
<body>
  {% blocktranslate with name=subscription.name|default:_('Mr/Ms') title=newsletter.title domain=site.domain url=subscription.unsubscribe_activate_url %}Dear
  {{ name }},

  you, or someone in your name requested unsubscription from {{ title }}.

  If you would like to confirm your unsubscription, please follow this activation link:
  https://{{ request.get_host }}{{ url }}

  Kind regards,{% endblocktranslate %}
  {{ newsletter.sender }}
</body>
</html>