{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    % blocktranslate %}Update of subscription to {{ newsletter.title }}{% endblocktranslate %}</title>
</head>
<body>
  {% blocktranslate with name=subscription.name|default:_('Mr/Ms') title=newsletter.title site=site.domain url=subscription.update_activate_url %}
  Dear {{ name }},

  {#<!-- Tou requested updating your personal information for {{ title }}. -->#}

  To make changes to your information, please click on this link:
  https://{{ site }}{{ url }}

  Kind regards{% endblocktranslate %},
  {{ newsletter.sender }}
</body>
</html>