{% load i18n static %}
<header :class="{ 'max-h-full': open === 'false' }" class="md:sticky top-0 z-40 bg-gray-a font-c-sans shadow-md">
  <div @click.away="open = false" x-data="{ open: false }" class="cw text-lg md:flex items-center justify-between text-gray-300 my-2">
    <div :class="{ 'pb-2': open == 'true' }" class="flex justify-between mx-auto md:pb-0 md:mx-0 px-1">
      <button @click="open = !open" class="hover:text-white md:hidden cr p-1" type="button">
        <svg class="fill-current mx-auto w-4 h-4">
          <use x-show="open" xlink:href="{% static 'img/svg-defs.svg' %}#o"></use>
          <use x-show="!open" xlink:href="{% static 'img/svg-defs.svg' %}#x"></use>
        </svg>
        <span hidden>{% trans 'Menu' %}</span>
      </button>
      <a oncontextmenu="mark();" class="hover:text-white inline-flex items-center cr mx-auto px-1" href="{{ home_url }}" id="{{ com }}" alt="{{ com }}">
        <svg class="fill-current w-32 h-10"><use xlink:href="{% static 'img/svg-defs.svg' %}#clavem"></use></svg>
        <span hidden>{{ com }}</span>
      </a>
      {% include 'base/snippets/brandredirect.html' with url=request.url brand_url=brand_url %}
    </div>
    <nav x-show="!open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="overflow-hidden items-center block md:flex md:space-x-4 px-1">
    {% if essays_url in request.path or edu_url in request.path %}
      <a href="{{ edu_url }}" class="ni{% if edu_url in request.path %} nisel{% endif %}">{% trans 'Learn' %}</a>
    {% endif %}{#<!--data-tippy-content="{% trans 'Inspirations' %}" {% trans 'Writings' %}{% trans 'Offerings' %}-->#}
      <a href="{{ essays_url }}" class="ni{% if essays_url in request.path %} nisel{% endif %}">
        <svg class="hidden lg:inline-flex items-center fill-current w-5 h-5 mr-3 md:mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#read"></use></svg>{% trans 'Read' %}
      </a>
      <a href="{{ shop_url }}" class="ni{% if shop_url in request.path %} nisel{% endif %}">{% trans 'Shop' %}</a>
      {% if request.session.cart_items %}
      <a href="{{ cart_url }}" {% if not cart_url in request.path and cart.products %}id="cart" {% endif %}class="cartbtn{% if cart_url in request.path %} nisel{% endif %}">
      <div class="relative inline-flex text-gray-300 hover:text-white items-center pt-1">
        <span class="md:hidden mr-3 md:mr-0">{% trans 'Cart' %}</span>
        <svg class="fill-current w-5 h-5"><use xlink:href="{% static 'img/svg-defs.svg' %}#cart"></use></svg>
        <span class="{% if not cart_url in request.path %}animate-ping {% endif %}absolute bg-cart rounded-full w-4 h-4 inline-flex opacity-50 top-0 -right-2"></span>
        <span class="absolute text-black text-sm bg-cart hover:bg-cart rounded-full w-4 h-4 top-0 -right-2 flex justify-center items-center">{{ request.session.cart_items }}</span>
      </div></a>
      <div id="cart-tip" class="hidden">
      {% for p in cart.products.all %}
        <p>{{ forloop.counter }}. {{ p.name_product }}</p>{#<!--bg-red-500 hover:bg-red-600<img src="{ { p.img.url }}" class="w-10 h-12 pr-1">-->#}
      {% endfor %}
      </div>
      {% endif %}
      {% if not 'search' in request.path %}
      <div class="overflow-hidden py-2 md:py-1 md:px-1 xl:px-0 my-1 md:my-0">
        <div class="block md:hidden xl:flex">{% include 'search/search-form.html' %}</div>
        <a href="{% url 'search:query' %}" class="searchbtn">
          <svg class="fill-current h-5 w-5"><use xlink:href="{% static 'img/svg-defs.svg' %}#search"></use></svg><span hidden>{% trans 'Search' %}</span>
        </a>
      </div>
      {% endif %}
      <div class="md:space-x-4 border-t border-gray-600 md:border-none pt-2 md:pt-0 my-1 md:my-0 flex items-center justify-between">
      {% if request.user.is_authenticated %}
        <a href="{{ logout_url }}" class="logbtn">{% trans 'Log Out' %}</a>
        <a href="{{ account_url }}" class="usrbtn"{% if request.user.first_name %} data-tippy-content="{% trans 'Account of' %} {{ request.user.first_name }}"{% endif %}>
          <svg class="fill-current w-5 h-5 mr-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#set"></use></svg>
          <span>{% trans 'Account' %}</span>
        </a>
        {% elif request.path != checkout_url %}
        <a href="{{ login_url }}" class="logbtn">{% trans 'Log In' %}</a>
        <a href="{{ register_url }}" class="usrbtn">{% trans 'Sign Vp' %}</a>
      {% endif %}
      </div>
    </nav>
  </div>
</header>{% comment %}<!--<svg class="ml-2 w-4 h-4 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#out"></use></svg><svg class="w-4 h-4 text-gray-200 fill-current hidden xl:inline-block ml-2"> <use xlink:href="{% static 'img/svg-defs.svg' %}#signup"></use></svg>
<script>
  var pathname = window.location.pathname;
  if (pathname.indexOf('/read/') > -1) {
    document.getElementById('#edu').classList.remove('hidden')
  }//edu.style.display = "block" else { edu.style.display = "none"}
</script>
title="Latin for key" <svg class="sm:mr-3 w-8 h-8 fill-current"><use xlink:href="{ % static 'img/svg-defs.svg' %}#clogo"></use><span x-show="!open" class="hidden sm:block">{ { com }}</span>
<svg x-show="open" class="fill-current w-8 h-8"><use xlink:href="{ % static 'img/svg-defs.svg' %}#menu"></use></svg> class="fill-current w-4 h-4" <span style="font-size: .7rem;">Menu</span>{ % if request.path == edu_url %}nav-el nav-link dot{ % endif %} {% include 'base/snippets/brandredirect.html' with c=url brandurl=brand_url %}
bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-teal-500 from-brilliant-rose-500 to-danube-500 text-gradient bg-gradient-to-r 
var c = document.getElementById("c").value;-->{% endcomment %}