{% extends 'base.html' %}
{% load i18n mptt_tags static %}
{% block css %}{% include 'base/snippets/fullscreen.html' %}{% endblock %}
{% block title %}{% if object.title %}{{ object.title }}{% else %}{% trans 'In Development' %}{% endif %}{% endblock %}
{% comment %}<!--hitcount_tags { % get_hit_count_js_variables for object as hitcount %}
{ % get_hit_count for object as readers %}-->{% endcomment %}
{% block content %}
{% if object %}
<div ondblclick="exitFullscreen();" class="font-c-sans max-w-md md:max-w-lg mx-auto px-2">
  <div ondblclick="focusMode(document.documentElement);">
    {% if object.img %}
    <div class="mb-4"><img loading="lazy" src="{{ object.img.url }}" alt="{% trans 'Header Picture' %}" class="w-full object-cover rounded-xl"></div>
    {% endif %}
    <div class="border-t-2 border-b border-gray-400 rounded-lg text-center space-y-3 pt-3 pb-2 mb-4">
      <h1 class="text-4xl">{{ object.title }}</h1>
      <div class="inline-flex items-center space-x-2">
      {% if not object.author_team and object.author %}
        {% if object.author == 'Team' or object.author == 'team' %}
          <a href="{{ team_url }}" class="flex rounded-full ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent focus:outline-none px-1 pt-1" data-tippy-content="{{ com }}" alt="{{ com }}'s logo" target="_blank" rel="noopener">
          <svg class="fill-current mx-auto w-10 h-10 xl:w-12 xl:h-12"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg></a>
          <a class="un rounded-xl ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent focus:outline-none px-1 pt-1" href="{{ team_url }}" data-tippy-content="C-Team" target="_blank" rel="noopener">{{ com }} team</a>
        {% else %}
          {% if object.author.img %}
          <a href="{% if object.author_url %}{{ object.author_url }}{% else %}{% url 'home:author' slug=object.author.slug %}{% endif %}" class="flex rounded-full ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent focus:outline-none px-1 pt-1" target="_blank" rel="noopener"><img loading="lazy" src="{{ object.author.img.url }}" alt="{% trans 'Author Picture' %}" class="t-img rounde-full w-10 h-10 bg-gradient-to-tl to-yellow-200 from-red-700 shadow"></a>
          {% endif %}
        <a href="{% if object.author_url %}{{ object.author_url }}{% else %}{% url 'home:author' slug=object.author.slug %}{% endif %}" class="un rounded-xl ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent focus:outline-none px-1 pt-1" target="_blank" rel="noopener">{{ object.author.name }}</a>
        {% endif %}
      {% endif %}
      {% if object.author_team %}
      {% if object.author_team.img %}
        <a href="{% url 'team:detail' slug=object.author_team.slug %}" class="flex rounded-full ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent focus:outline-none px-1 pt-1" target="_blank" rel="noopener">
        <img loading="lazy" src="{{ object.author_team.img.url }}" alt="{% trans 'Author Picture' %}" class="t-img rounded-full w-10 h-10 shadow"></a>
      {% endif %}
      <a href="{% url 'team:detail' slug=object.author_team.slug %}" class="un rounded-xl ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent focus:outline-none px-1 pt-1" target="_blank" rel="noopener">{{ object.author_team.name }}</a>
      {% else %}
        {% if edu_url in request.path or essays_url in request.path %}
        <span>Øutis</span>
        <span class="sep">·</span>
        {% endif %}
      {% endif %}
      <p class="inline-flex items-center" {% if essays_url in request.path %}data-tippy-content="Publication date (years since the current form of humans evolved)"{% endif %}>{% if essays_url in request.path %}20{% endif %}{% if not edu_url in request.path and not essays_url in request.path %}Effective date: {% endif %}{{ object.updated|date:'Y-m-d' }}</p>
      </div>
      <div>
      {% if obj.audio or tts %}
        {% include 'base/snippets/audio.html' with obj=object %}
      {% endif %}
      {% include 'base/snippets/theme.html' %}
      </div>
    </div>
    <div class="text-xl list-inside">
      {% include 'base/snippets/summary.html' with obj=object %}
      {% include 'base/snippets/contents.html' with obj=object %}
      <div class="border border-gray-300 shadow text-lg rounded-xl px-5 py-4">
        {% if object.section_set %}
        {% for s in object.section_set.all %}
        {% if not forloop.first %}<h2 id="{{ s.slug }}" class="text-2xl font-semibold pb-1 pt-3">{{ s.title|safe }}</h2>{% endif %}
        {{ s.text|safe }}
        {% endfor %}
        {% elif object.psection_set %}
        {% for s in object.psection_set.all %}
        {% if not forloop.first %}<h2 id="{{ s.slug }}" class="text-2xl font-semibold pb-1 pt-3">{{ s.title|safe }}</h2>{% endif %}
        {{ s.text|safe }}
        {% endfor %}
        {% endif %}
        {% if s.img %}
        <div class="my-2"><img loading="lazy" src="{{ s.img.url }}" alt="{{ s.title }} {% trans 'Picture' %}" class="rounded-lg mx-auto"></div>
        {% endif %}
        {% comment %}<!-- hyphens text-justify <div class="text-right pr-5">
        <svg class="border border-gray-300 bg-gray-900 text-gray-100 w-4 h-4 fill-current inline-block absolute -mt-6"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
        </div> -->{% endcomment %}
      </div>
    </div>
  </div>
  {% if edu_url in request.path or essays_url in request.path %}
  <div class="text-center text-gray-700 my-4">
    <div class="inline-flex overflow-hidden border border-gray-300 bg-white shadow rounded-lg">
      {% if edu_url in request.path %}
      {% include 'base/snippets/backbtn.html' with url=edu_url id=object.slug %}
      {% elif essays_url in request.path %}
      {% include 'base/snippets/backbtn.html' with url=essays_url id=object.slug %}
      {% endif %}
      {% if request.user.email and essays_url in request.path %}
      <div class="hover:text-black border-l border-gray-300 hover:bg-gray-hover">
        <a href="{% url 'essays:pdf' slug=object.slug %}" class="flex items-center rounded-lg focus:outline-none py-1 px-2" target="_blank" rel="noopener">
        <svg class="w-3 h-3 fill-current mr-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#dl"></use></svg> PDF
        </a>
      </div>
      {% endif %}
      {% if next %}
      <div class="hover:text-black border-l border-gray-300 hover:bg-gray-hover">
        <a class="flex items-center rounded-lg focus:outline-none py-1 px-2" href="{{ next.get_absolute_url }}" data-tippy-content="{{ next.index }}. {{ next.title }}">{% trans 'Next' %}
        <svg class="w-3 h-4 fill-current ml-1" style="transform: scale(-1,1)"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow"></use></svg></a>
      </div>
      {% endif %}
    </div>
  </div>
  {% else %}
  {% include 'home/snippets/cmds.html' %}
  {% endif %}
  {% if essays_url in request.path %}
  {% include 'base/snippets/cc.html' %}

  {% if request.user.email %}

  {% comment %}<!--{ % if readers %}
  <div class="text-center text-sm text-gray-500">
  <a class="inline-flex items-center" data-tippy-content="Readers"><svg class="w-4 h-4 text-gray-500 fill-current mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#reader"></use></svg>
    { { readers }}</a>
  </div>
  { % endif %}-->{% endcomment %}
  {% if notes.all %}
  <div x-data="{ open: false }">
    <div class="text-center font-c-sans my-4">
      <button @click="open=!open" class="border-2 border-yellow-300 shadow rounded-full focus:outline-none ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent px-2 py-1" type="button">
        <p x-show="!open" class="inline-flex items-center">{% blocktranslate %}Show {{ com }} Community Contributions{% endblocktranslate %}
          <svg class="text-yellow-400 w-4 h-4 ml-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
        </p>
        <p x-show="open" class="inline-flex items-center">{% trans 'Hide' %}
          <svg class="text-yellow-400 w-4 h-4 ml-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
        </p>
      </button>
    </div>
    <div x-show="open" class="font-c-sans border-t border-gray-300 my-5">
      <div class="text-center my-4">
        <span>{{ com }} {% trans 'Community Contributions' %}</span>
      </div>

      {% recursetree notes %}
        <div id="{{ node.id }}" class="border border-gray-300 rounded-lg shadow hover:shadow-md px-4 pt-3 pb-2 mb-4">
        {{ node.body|linebreaks }}
        <div class="font-c-serif text-sm space-x-3 inline-flex items-center border-t border-gray-300 pt-2 mt-2">
          <p class="italic">—{% if node.private %} Anonym
          {% else %}
            {% if node.user.first_name %}
            {{ node.user.first_name }}
            {% else %}
            {{ node.user.email }}***
            {% endif %}
          {% endif %}
          </p>

          <p class="sep">·</p>
          <p>20{{ node.created_at|date:'Y-m-d' }}</p>
          
          <form action="{% url 'read:like' object.slug node.id %}" method="post"> {% csrf_token %}
            <button class="font-c-sans inline-flex items-center rounded-xl focus:outline-none ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent px-2 py-1" name="note_id" value="{{ node.id }}" type="submit" data-tippy-content="Bravo">{{ node.tot_likes }}
              <svg class="fill-current h-5 w-5 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#clap"></use></svg>
            </button>
          </form>

          {% if node.level < 2 %}
          <button class="font-c-sans border border-gray-400 hover:border-yellow-600 rounded-xl shadow hover:shadow-md focus:outline-none ring-yellow-200 focus:ring-2 ring-offset-2 ring-offset-transparent px-2 py-1" onclick="replyBtn('{{ node.id }}')">{% trans 'Reply' %}</button>
          {% endif %}
        </div>

        {% if not node.is_leaf_node %}
        <div class="items-center overflow-hidden pt-3">
          <div class="absolute text-gray-500 mt-3"><svg class="w-4 h-5 fill-current" style="transform: scale(-1,-1)"><use xlink:href="{% static 'img/svg-defs.svg' %}#reply"></use></svg></div>
          <div class="kid ml-6">{{ children }}</div>
        </div>
        {% endif %}
      </div>
      {% endrecursetree %}
      {% comment %}<!-- <div class="font-c-sans text-center text-gray-800 py-4">
        <div class="inline-flex bg-white rounded-lg overflow-hidden border border-gray-300" aria-label="Note pages">
        {% if pages.has_other_pages %}
          {% if pages.has_previous %}
          <a class="hover:bg-gray-hover py-1 px-2 rounded-l-lg hover:text-black" href="?page={{ pages.previous_page_number }}">{% trans 'Previous' %}</a>
          {% endif %}
          {% for num in pages.paginator.page_range %}
          <div class="border-l {% if forloop.last %}border-r {% endif %}border-gray-300 {% if pages.number != num %}hover:bg-gray-hover{% endif %} py-1 px-2">
            {% if pages.number == num %}
            <span class="text-gray-400">{{ num }}</span>
            {% else %}
            <a class="hover:text-black" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          </div>
          {% endfor %}
          {% if pages.has_next %}
          <a class="hover:bg-gray-hover py-1 px-2 rounded-r-lg hover:text-black" href="?page={{ pages.next_page_number }}">{% trans 'Next' %}</a>
          {% endif %}
        {% endif %}
        </div>
      </div> -->{% endcomment %}
    </div>
  </div>
  {% endif %}
  <div class="font-c-sans pt-1 mt-2">
    <label for="id_note" hidden>{% trans 'Note' %}</label>
    <form id="id_note_form" method="post"> {% csrf_token %}
      {{ form.body }}
      <div class="text-right items-center space-x-1 mt-3 mr-1">
        <label for="id_private" class="text-sm" data-tippy-content="Anonym">{% trans 'Check to hide your name' %}</label>
        {{ form.private }}
      </div>
      <button class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-800 border-2 border-yellow-300 hover:border-yellow-400 focus:outline-none rounded-xl focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2 mt-3" type="submit" data-tippy-content="{% trans 'Are you adding value to the conversation?' %}">
        <p class="text-center inline-flex items-center">{% trans 'Share' %} <svg class="w-6 h-6 fill-current ml-1" style="transform: scale(-1,1)"><use xlink:href="{% static 'img/svg-defs.svg' %}#post"></use></svg></p>
      </button>
    </form>
  </div>
  {% else %}
  <div class="font-c-sans text-center">
    <p>{% trans 'Eager to share your thoughts?' %}</p>
    <p><a href="{% url 'register' %}" class="text-blue-600 hover:text-blue-800 font-semibold focus:outline-none rounded-xl focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2">{% trans 'Sign Vp' %}</a> or <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" class="un font-semibold focus:outline-none rounded-xl focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2">{% trans 'Log in' %}</a></p>
  </div>
  {% endif %}
  {% endif %}
</div>
{% else %}
<div class="font-c-sans text-gray-900 max-w-xs mx-auto">
  <h1 class="text-xl text-black my-5">{% trans 'Legal work in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when the work is published, please type your email and click on Get Vpdates. Thank You' %}</p>
</div>
{% endif %}
{% endblock %}
{% comment %}<!-- <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  // use the template tags in our JavaScript call
  $.postCSRF('{{ hitcount.ajax_url }}', { hitcountPK : '{{ hitcount.pk }}' })
    .done(function(data){
      $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
      $('#hit-response').text(data.hit_message);
  }).fail(function(data){
      console.log('POST failed');
      console.log(data);
  });
});
</script> -->{% endcomment %}
{% block js %}
{% if essays_url in request.path or edu_url in request.path %}
{% include 'base/snippets/sharect.html' %}
<script>
function formClose() {
  document.getElementById('id_note_reply').remove()
};
function replyBtn(id) {
  if (document.contains(document.getElementById('id_note_reply'))) {
    document.getElementById('id_note_reply').remove();
  }
  var e = document.getElementById(id);
  e.insertAdjacentHTML('afterend', 
   '<div class="font-c-sans ml-10 mb-6 mr-1">\
      <label for="id_reply" hidden>{% trans "Reply" %}</label>\
      <form id="id_note_reply" method="post"> {% csrf_token %}\
        <div class="text-right">\
          <button type="button" class="rounded-full focus:outline-none focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2" onclick="formClose()"><svg class="w-5 h-5" viewBox="0 0 20 20"><g fill="none" fill-rule="evenodd"><circle stroke="currentColor" stroke-width="2" cx="10" cy="10" r="9"/><path fill="currentColor" fill-rule="nonzero" d="m14.982 8.913.035 2-9.999.174-.035-2z"/></g></svg></button>\
        </div>\
        <select name="parent" id="id_parentt" class="hidden"><option value="' + id + '" selected="' + id + '"></option></select>\
        <textarea name="body" cols="30" rows="3" id="id_reply" placeholder="Are you adding value to the conversation?" class="hover:border-yellow-600 w-full tracking-wide border border-gray-500 rounded-lg text-black py-2 px-3 placeholder-gray-800 shadow hover:shadow-md  focus:outline-none focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2" "spellcheck": "true", type="text" required></textarea>\
        <button class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 text-gray-800 border-2 border-yellow-300 hover:border-yellow-400 rounded-xl focus:outline-none focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2 py-1 px-2 mt-3" type="submit">\
          <p class="text-center inline-flex items-center">{% trans "Reply" %}\
          <svg class="w-6 h-6 fill-current ml-1" style="transform: scale(-1,1)"><path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path></svg>\
          </p>\
        </button>\
      </form>\
    </div>'
  );
}
$('#id_note_form').trigger('reset');
</script>
{% endif %}
{% endblock %}
{% comment %}<!--document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
FIX if reply->x->all forms are removed and it has to reload page var generalForm = document.getElementById('id_noteForm')
Check to disable replies</span><input type="checkbox" name="reply" class="transform hover:scale-110" id="id_reply"></div>
$('form').preventDoubleSubmission();
jQuery.fn.preventDoubleSubmission = function() {
  $(this).on('submit',function(e){
    var $form = $(this);
    if ($form.data('submitted') === true) {
      e.preventDefault();
    } else {
      $form.data('submitted', true);
    }
  });
  return this;
};
https://calmcode.io/matplot-gif/gif.html less scroll, more slide short text image per page
selector: 'div.tinymce', id="cmt" jQuery plugin to prevent double submission of forms next_url=request.build_absolute_uri ?next={{ request.get_full_path|urlencode }}
add on comments <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{% static 'js/tinymce.m.js' %}"></script>
<script type="text/javascript">
  tinyMCE.init({
    // mode: "textareas",
    selector: 'textarea#cmt',
    //theme: 'simple',
    // plugins: ['quickbars'],
    // toolbar: false,
    // menubar: false,
    // inline: true
  });
</script>-->{% endcomment %}