{% extends 'base.html' %}
{% load i18n mptt_tags static readtime %}
{% block css %}{% include 'base/snippets/fullscreen.html' %}{% endblock %}
{% block title %}{% if object.title %}{{ object.title }}{% else %}{% trans 'In Development' %}{% endif %}{% endblock %}
{% comment %}<!--hitcount_tags { % get_hit_count_js_variables for object as hitcount %}{ % get_hit_count for object as readers %}-->{% endcomment %}
{% block content %}
{% if object %}
<div ondblclick="focusMode(document.documentElement);">
  <div ondblclick="exitFocusMode();">
    <div class="font-c-sans md:max-w-lg mx-auto">
    {% if object.img %}
    <div class="mb-4"><img loading="lazy" src="{{ object.img.url }}" alt="{% trans 'Header Picture' %}" class="w-full object-cover rounded-xl"></div>
    {% endif %}
    <div class="border-t-2 border-b border-gray-400 rounded-lg text-center space-y-3 pt-3 pb-2 mb-4">
      <h1 class="text-4xl">{{ object.title }}</h1>
      <div class="inline-flex items-center space-x-2">
      {% if not object.author_team and object.author %}
        {% if object.author == 'Team' or object.author == 'team' %}
          <a href="{{ team_url }}" class="authimg" data-tippy-content="{{ com }}" alt="{{ com }}'s logo" target="_blank" rel="noopener">
          <svg class="fill-current mx-auto w-10 h-10 xl:w-12 xl:h-12"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg></a>
          <a class="authtxt" href="{{ team_url }}" data-tippy-content="C-Team" target="_blank" rel="noopener">{{ com }} team</a>
        {% else %}
          {% if object.author.img %}
          <a href="{% if object.author_url %}{{ object.author_url }}{% else %}{% url 'home:author' slug=object.author.slug %}{% endif %}" class="authimg" target="_blank" rel="noopener"><img loading="lazy" src="{{ object.author.img.url }}" alt="{% trans 'Author Picture' %}" class="t-img rounde-full w-10 h-10 bg-gradient-to-tl to-yellow-200 from-red-700 shadow"></a>
          {% endif %}
        <a href="{% if object.author_url %}{{ object.author_url }}{% else %}{% url 'home:author' slug=object.author.slug %}{% endif %}" class="authtxt" target="_blank" rel="noopener">{{ object.author.name }}</a>
        {% endif %}
      {% endif %}
      {% if object.author_team %}
      {% if object.author_team.img %}
        <a href="{% url 'team:detail' slug=object.author_team.slug %}" class="authimg" target="_blank" rel="noopener">
        <img loading="lazy" src="{{ object.author_team.img.url }}" alt="{% trans 'Author Picture' %}" class="t-img rounded-full w-10 h-10 shadow"></a>
      {% endif %}
      <a href="{% url 'team:detail' slug=object.author_team.slug %}" class="authtxt" target="_blank" rel="noopener">{{ object.author_team.name }}</a>
      {% else %}
        {% if edu_url in request.path or essays_url in request.path %}
        <span>Øutis</span>
        <span class="sep">·</span>
        {% endif %}
      {% endif %}
      <span class="inline-flex items-center" {% if essays_url in request.path %}data-tippy-content="Publication date (years since the current form of humans evolved)"{% endif %}>{% if essays_url in request.path %}20{% endif %}{% if not edu_url in request.path and not essays_url in request.path %}Effective date: {% endif %}{{ object.updated|date:'Y-m-d' }}</span>
      </div>
      <div>
      {% if obj.audio or tts %}
        {% include 'base/snippets/audio.html' with obj=object %}
      {% endif %}
      {% include 'base/snippets/theme.html' %}
      </div>
    </div>
    <div class="text-xl list-inside">
      {% include 'base/snippets/summary.html' with obj=object %}
      {% include 'base/snippets/contents.html' with obj=object %}
      <div class="bord shadow-md rounded-xl px-5 py-4">
        {% if object.section_set %}
          {% for s in object.section_set.all %}
          <input type="hidden" value="{{ s.text|readtime }}" id="rtime" name="rtime">
          {% if not forloop.first %}
          <div class="sectxt">
            <h2 id="{{ s.slug }}" class="h2txt">{{ s.title|safe }}</h2>
          </div>
          {% endif %}
          <div>{{ s.text|safe }}</div>
          {% endfor %}
        {% elif object.psection_set %}
          {% for s in object.psection_set.all %}
          {% if not forloop.first %}
          <div class="sectxt">
            <h2 id="{{ s.slug }}" class="h2txt">{{ s.title|safe }}</h2>
          </div>
          {% endif %}
          <div>{{ s.text|safe }}</div>
          {% endfor %}
        {% elif object.csection_set %}
          {% for s in object.csection_set.all %}
          {% if not forloop.first %}
          <div class="sectxt">
            <h2 id="{{ s.slug }}" class="h2txt">{{ s.title|safe }}</h2>
          </div>
          {% endif %}
          <div>{{ s.text|safe }}</div>
          {% endfor %}
{#<!-- Terms -->#}
        {% elif object.tsection_set %}
          {% for s in object.tsection_set.all %}
          {% if not forloop.first %}
          <div class="sectxt">
            <h2 id="{{ s.slug }}" class="h2txt">{{ s.title|safe }}</h2>
          </div>
          {% endif %}
          {{ s.text|safe }}
          {% endfor %}
        {% endif %}
        {% if s.img %}
        <div class="my-2"><img loading="lazy" src="{{ s.img.url }}" alt="{{ s.title }} {% trans 'Picture' %}" class="rounded-lg mx-auto"></div>
        {% endif %}
{% comment %}<!-- <svg class="bord bg-gray-900 text-gray-100 w-4 h-4 fill-current inline-block absolute -mt-6"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
</div> -->{% endcomment %}
      </div>
    </div>
  {% if edu_url in request.path or essays_url in request.path %}
  <div class="text-center text-gray-700 my-4">
    <div class="inline-flex overflow-hidden bord bg-white shadow rounded-lg">
      {% if edu_url in request.path %}
      {% include 'base/snippets/backbtn.html' with url=edu_url id=object.slug %}
      {% elif essays_url in request.path %}
      {% include 'base/snippets/backbtn.html' with url=essays_url id=object.slug %}
      {% endif %}
      {% if request.user.email and essays_url in request.path %}
      <div class="btntxt">
        <a href="{% url 'essays:pdf' slug=object.slug %}" class="flex items-center rounded-lg focus:outline-none px-2 py-1" target="_blank" rel="noopener">
        <svg class="fill-current w-4 h-4 mr-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#dl"></use></svg> PDF
        </a>
      </div>
      {% endif %}
      {% if next %}
      <div class="btntxt">
        <a class="flex items-center rounded-lg focus:outline-none px-2 py-1" href="{{ next.get_absolute_url }}" data-tippy-content="{{ next.index }}. {{ next.title }}">{% trans 'Next' %}
        <svg class="fill-current scale-1 w-3 h-4 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow"></use></svg></a>
      </div>
      {% endif %}
    </div>
  </div>
  {% else %}
  {% include 'base/snippets/btns.html' %}
  {% endif %}
  {% if essays_url in request.path %}
  {% include 'base/snippets/cc.html' %}
  {% if request.user.email %}
  {% comment %}<!--{ % if readers %} show only if staff or admin
  <div class="text-center text-sm text-gray-500">
  <a class="inline-flex items-center" data-tippy-content="Readers"><svg class="w-4 h-4 text-gray-500 fill-current mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#reader"></use></svg>
    { { readers }}</a>
  </div>
  { % endif %} @click.away="open = false" x-data="{ open: false }"-->{% endcomment %}
  {% if notes.all %}
  <div id="noteapp">
    <div class="text-center text-lg font-c-sans my-4">
      <button @click="show()" class="border-2 border-yellow-300 shadow rounded-full cr2 px-3 py-1" type="button">
        <p v-if="!open" class="inline-flex items-center space-x-2">
          <svg class="text-yellow-500 w-4 h-4"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
          <span>{% blocktranslate %}Show {{ com }} Community Contributions{% endblocktranslate %}</span>
        </p>
        <p v-if="open" class="inline-flex items-center space-x-2">
          <svg class="text-yellow-500 w-4 h-4"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
          <span>{% trans 'Hide' %}</span>
        </p>
      </button>
    </div>
    <div v-if="open" class="text-lg font-c-sans bordt my-5">
      <div class="text-center text-xl my-4">
        <h1>{{ com }} {% trans 'Community Contributions' %}</h1>
      </div>
      {% recursetree notes %}
      <div id="{{ node.id }}" class="bord rounded-lg shadow hover:shadow-md px-4 pt-3 pb-2 mb-4">
        {{ node.body|linebreaks }}
        <div class="font-c-serif text-base space-x-3 inline-flex items-center bordt pt-2 mt-2">
          <span class="inline-flex italic items-center">
          {% if node.user.img %}
          <img src="{{ node.user.img.url }}" alt="{% if node.user.first_name %}{{ node.user.first_name }}{% else %}{{ node.user.get_usrname }}{% endif %} {% trans 'Image' %}" class="w-11 h-11 bord rounded-full mr-2">
          {% else %}
          —
          {% endif %}
          {% if node.user.first_name %}
          {{ node.user.first_name }}
          {% else %}
          {{ node.user.get_usrname }}
          {% endif %}
          </span>
          <span class="sep">·</span>
          <span>20{{ node.created_at|date:'Y-m-d' }}</span>
          <form method="post" action="{% url 'read:like' object.slug node.id %}"> {% csrf_token %}
            <button class="font-c-sans inline-flex items-center cr2 px-2 py-1" name="note_id" value="{{ node.id }}" type="submit" data-tippy-content="Bravo">{{ node.tot_likes }}
              <svg class="fill-current hover:text-yellow-500 h-5 w-5 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#clap"></use></svg>
            </button>
          </form>
          {% if node.level < 2 %}
          <button class="font-c-sans bord hover:border-yellow-500 shadow hover:shadow-md cr2 px-2 py-1" onclick="replyBtn('{{ node.id }}')">{% trans 'Reply' %}</button>
          {% endif %}
        </div>
        {% if not node.is_leaf_node %}
        <div class="items-center overflow-hidden pt-3">
          <div class="absolute text-gray-500 mt-3"><svg class="fill-current w-4 h-5" style="transform: scale(-1,-1)"><use xlink:href="{% static 'img/svg-defs.svg' %}#reply"></use></svg></div>
          <div class="kid ml-6">{{ children }}</div>
        </div>
        {% endif %}
      </div>
      {% endrecursetree %}
      {% comment %}<!-- if node.private %} Anonym <div class="font-c-sans text-center text-gray-800 py-4">
        <div class="inline-flex bg-white rounded-lg overflow-hidden bord" aria-label="Note pages">
        {% if pages.has_other_pages %}
          {% if pages.has_previous %}
          <a class="hover:bg-gray-hover px-2 py-1 rounded-l-lg hover:text-black" href="?page={{ pages.previous_page_number }}">{% trans 'Previous' %}</a>
          {% endif %}
          {% for num in pages.paginator.page_range %}
          <div class="border-l {% if forloop.last %}border-r {% endif %}border-gray-300 {% if pages.number != num %}hover:bg-gray-hover{% endif %} px-2 py-1">
            {% if pages.number == num %}
            <span class="text-gray-400">{{ num }}</span>
            {% else %}
            <a class="hover:text-black" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          </div>
          {% endfor %}
          {% if pages.has_next %}
          <a class="hover:bg-gray-hover px-2 py-1 rounded-r-lg hover:text-black" href="?page={{ pages.next_page_number }}">{% trans 'Next' %}</a>
          {% endif %}
        {% endif %}
        </div>
      </div>-->{% endcomment %}
    </div>
  </div>
  {% endif %}
  <div class="font-c-sans pt-1 mt-2">
    <label for="id_note" hidden>{% trans 'Note' %}</label>
    <form id="id_note_form" method="post"> {% csrf_token %}
      {{ form.body }}
{% comment %}<!--<div class="text-right items-center space-x-1 mt-3 mr-1">
<label for="id_private" class="text-sm" data-tippy-content="Anonym">{% trans 'Check to hide your name' %}</label>
{{ form.private }}</div> data-tippy-content="{% trans 'Are you adding value to the conversation?' %}"-->{% endcomment %}
      <button class="cbtn px-2 py-1 mt-3" type="submit">
        <div class="text-center text-lg inline-flex items-center space-x-1">
          <span>{% trans 'Share' %}</span>
          <svg class="fill-current scale-1 w-6 h-6"><use xlink:href="{% static 'img/svg-defs.svg' %}#post"></use></svg>
        </div>
      </button>
    </form>
  </div>
  {% else %}
  <div class="font-c-sans text-center">
    <p>{% trans 'Eager to share your thoughts?' %}</p>
    <p><a href="{{ login_url }}?next={{ request.get_full_path|urlencode }}" class="un font-semibold cr2 px-2 py-1">{% trans 'Log in' %}</a> or <a href="{{ register_url }}" class="regbtn">{% trans 'Sign Vp' %}</a></p>
  </div>
  {% endif %}
  {% endif %}
</div>
</div>
</div>
{% else %}
<div class="text-gray-900 wxs">
  <h1 class="text-2xl text-black my-5">{% trans 'Work in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when the work is published, please type your email and click on Get Vpdates. Thank you' %}</p>
</div>
{% endif %}
{% endblock %}
{% block js %}
{% if essays_url in request.path or edu_url in request.path %}
{% include 'base/snippets/sharect.html' %}
<script type="application/javascript">
  var rt = document.getElementById('rtime').value;
  rt = Number(rt.match(/\d+/)[0]);
  rt += rt;
  document.getElementById('rt').innerHTML = "< " + rt + " min";

  var noteapp = new Vue({
    el: '#noteapp',
    delimiters: ['[[', ']]'],
    data () {
      return {
        open: false
      }
    },
    methods: {
      show() {
        this.open = !this.open;
      }
    }
  })

function formClose() {
  document.getElementById('id_note_reply').remove();
}
function replyBtn(id) {
  if (document.contains(document.getElementById('id_note_reply'))) {
    formClose();
  }
  var e = document.getElementById(id);
  e.insertAdjacentHTML('afterend', 
   '<div class="font-c-sans ml-10 mb-6 mr-1">\
      <label for="id_reply" hidden>{% trans "Reply" %}</label>\
      <form id="id_note_reply" method="post"> {% csrf_token %}\
        <div class="text-right">\
          <button type="button" class="rounded-full cr2" onclick="formClose()"><svg class="w-5 h-5" viewBox="0 0 20 20"><g fill="none" fill-rule="evenodd"><circle stroke="currentColor" stroke-width="2" cx="10" cy="10" r="9"/><path fill="currentColor" fill-rule="nonzero" d="m14.982 8.913.035 2-9.999.174-.035-2z"/></g></svg></button>\
        </div>\
        <select name="parent" id="id_parentt" class="hidden"><option value="' + id + '" selected="' + id + '"></option></select>\
        <textarea name="body" cols="30" rows="3" id="id_reply" class="w-full text-black tracking-wide border border-gray-400 hover:border-yellow-500 focus:border-yellow-500 rounded-lg shadow hover:shadow-md cr2 py-1 px-2" spellcheck="true" type="text" required></textarea>\
        <button class="cbtn mt-3" type="submit">\
          <p class="text-center inline-flex items-center">{% trans "Reply" %}\
          <svg class="fill-current scale-1 w-6 h-6 ml-1"><path d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"></path></svg>\
          </p>\
        </button>\
      </form>\
    </div>'
  );
}
$('#id_note_form').trigger('reset');
</script>
{% endif %}
{% endblock %}{% comment %}<!-- placeholder="Are you adding value to the conversation?" placeholder-gray-800 <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  // use the template tags in our JavaScript call
  $.postCSRF('{{ hitcount.ajax_url }}', { hitcountPK : '{{ hitcount.pk }}' })
    .done(function(data){
      $('<i />').text(data.hit_counted).attr('id','hit-counted-value').appendTo('#hit-counted');
      $('#hit-response').text(data.hit_message);
  }).fail(function(data){
      console.log('POST failed');
      console.log(data);
  });
});
</script>
<input type="checkbox" name="reply" class="transform hover:scale-110" id="id_reply"></div>
$('form').preventDoubleSubmission();//plugin to prevent double submission of forms
jQuery.fn.preventDoubleSubmission = function() {
  $(this).on('submit',function(e){
    var $form = $(this);
    if ($form.data('submitted') === true) {
      e.preventDefault();
    } else {
      $form.data('submitted', true);
    }
  });
  return this;
};
less scroll, more slide short text image per page
selector: 'div.tinymce', id="cmt" jQuery 
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>-->{% endcomment %}