{% load i18n static %}
{% spaceless %}
<form method="post" action="{{ update_cart_url }}" data-endpoint="{{ update_cart_url }}" enctype="multipart/form-data" class="form-product-ajax"{% if request.user.is_authenticated %} data-user="abc"{% endif %}> {% csrf_token %}
  <input type="hidden" name="product_id" value="{{ product.id }}" {% if  product.is_digital %}data-is-digital="true"{% endif%}>
  <input type="hidden" name="qty_sel" value="">
  <span class="submit-span">
    {% if in_cart %}
    <button type="submit" class="flex text-gray-500 hover:text-red-500 rounded-full focus:outline-none cr2" data-tippy-content="{% trans 'Remove' %}">
      <svg class="h-4 w-4 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
      <span hidden>{% trans 'Remove' %}</span>
    </button>
    {% else %}
      {% if product in cart.products.all %}
      <a href="{{ cart_url }}" class="upcart">
        <svg class='fill-current w-4 h-4 mr-2'><use xlink:href="{% static 'img/svg-defs.svg' %}#cart"></use></svg>
        {% trans 'In Cart' %}
      </a>
      {% else %}
      <button type="submit" id="buybtn" class="upcart">
        <svg class="fill-current w-4 h-4 mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#cart"></use></svg> {% trans 'Buy' %}
      </button>
      {% endif %}
    {% endif %}
  </span>
</form>
{% endspaceless %}{#<!-- id="cart" id="product_id" % include 'snippets/remove_product.html' %-->#}