{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Purchase History' %}{% endblock %}
{#<!--{% if object_list.count > 1 %}{% trans 'Purchases' %}{% else %}{% trans 'Purchase' %}{% endif %}Orders {{ request.user.first_name }} -->#}
{% block content %}
<div class="font-c-sans max-w-sm mx-auto">
  {% if object_list.exists %}
  <div class="text-center">
    <h1 class="h1">{% trans 'Purchase History' %}</h1>
  </div>
  <table class="text-lg mx-auto">
    <thead class="border-b border-gray-500">
      <tr>
        <th scope="col" class="tabcol">ID</th>
        <th scope="col" class="tabcol">{% trans 'Status' %}</th>
        <th scope="col" class="tabcol">{% trans 'Total' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
      <tr class="bordb text-center">
        <td class="py-2"><a class="tabitem cr px-1" href="{{ object.get_absolute_url }}">{{ object.order_id }}</a></td>
        <td class="px-4">{{ object.get_status }}</td>
        <td>{% include 'base/snippets/currency.html' %} {{ object.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="text-center">
    <h1 class="h1 my-6">{% trans 'No orders yet' %}</h1>
    {% include 'base/snippets/sad.html' %}
  </div>
  {% endif %}
</div>
{% endblock %}