/* Group each elements' classes .fmkjfksj { @apply bg-dark text-white; } purgecss before deploy */

// .grecaptcha-badge { visibility: hidden; }//recaptchav3

// $blue: #4dabdf;
// $orange: #FF9058;

// //neutrals

// $white : #fff;
// $gray : #808080;
// $dark-gray: #222;
// $medium-gray: #999;

// $primary-color: $blue;
// $primary-color-dark: darken ($primary-color, 7%);
// $primary-color-light: lighten($primary-color, 11%);
// $primary-color-neutral: desaturate($primary-color, 11%);
// $primary-color-bright: saturate($primary-color, 17%);
// $primary-color-hue: adjusthue($primary-color, 20%);

// $accent-color: $orange;
// $accent-color-light: lighten($accent-color, 11%);
// $accent-color-dark: darken($accent-color, 14%);
// $accent-color-neutral: desaturate($accent-color, 14%);
// $accent-color-bright: saturate($accent-color, 17%);

// $primary-font-color: darken($primary-color, 33%);
// $secondary-font-color: darken($primary-color, 33%);
// $accent-font-color: $accent-color-dark;

$shadow-outline-color: rgba(66, 153, 225, 0.5);/* rgba(217, 239, 255, 0.5) #D9EFFF FFD617 */
$selection-color: rgba(255, 255, 130, .8);
$blue: #81A6EC;//rgba(0, 113, 227, .8)rgba(70, 77, 119, .8);
$nav: rgba(0, 0, 0, .9);// 242729 rgba(49,49,49,0.9) #171717 313131 313A45 242729
$footer: #ecddcc; // E1CAAF FBFBFB F5F3EF
$footer-d: #E7D5BF;// B8B1B2 969292 C9C5C5 E6DDDE C5C5C6
$gray-hover: #E8E8E8;// e6ecf0 F1F8FF E8E8E8;
$primary: #f0f1f3;// rgb(250, 251, 252) DDEDF7 1B2029 222833 F8F8F8 F2F1EB f2f2f2 F0F0F0 E9EBEE EDF0F5 EEEEEE F0F1F1 E5E5E5 F5F5F5/7
$opposite: #141B1A;
$gray-aaa: #EBE4E5;// DCDCD4 EEF0F1
$marzipan: #ecc781;//FBDD85 81A6EC A6EC81 C79206 FBDD85
$maroon: #AC3833;// complementary 3833AC

// Find the hue 180 degrees away on the color wheel
// $first-color: $primary;
// $second-color: complement($primary);

.bg-gray-a { background-color: $nav; }
.bg-cart { background-color: #F0D29A;}
.hover\:bg-cart:hover { background-color: $marzipan;}

.bg-footer { background-color: $footer; }
.hover\:bg-footer:hover { background-color: $footer-d;}

.bg-gray-aaa { background-color: $gray-aaa; }
.text-gray-aaa { color: $gray-aaa; }

.bg-contact { background-color: $opposite; }//rgba(245, 237, 229, 0.8);

// .bg-primary { background-color: $primary; }
// .hover\:bg-primary:hover { background-color:$primary; }

.bg-gray-hover { background-color: $gray-hover; }
.hover\:bg-gray-hover:hover { background-color: $gray-hover; }

// .text-g { color: #ccdbec; }// .text-g-d { color:#A3AFBD; }

.bg-primary { background-color: $primary;}

@font-face {
  font-family: "PT";
  src: url("../fonts/pt/PT-Root-UI_Regular.woff2") format("woff2"),
       url("../fonts/pt/PT-Root-UI_Regular.woff") format("woff"),
       url("../fonts/pt/PT-Root-UI_Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open";
  src: url("../fonts/open-sans/OpenSans-Regular.woff2") format("woff2"),
       url("../fonts/open-sans/OpenSans-Regular.woff") format("woff"),
       url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source";
  src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.woff2") format("woff2"),
       url("../fonts/source-serif-pro/SourceSerifPro-Regular.woff") format("woff"),
       url("../fonts/source-serif-pro/SourceSerifPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Tiempo";
  src: url("../fonts/tiempos-serif/TiemposHeadline-Regular.woff2") format("woff2"),
       url("../fonts/tiempos-serif/TiemposHeadline-Regular.woff") format("woff"),
       url("../fonts/tiempos-serif/TiemposHeadline-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Latin";
  src: url("../fonts/trajan-latin/TrajanPro-Regular.woff2") format("woff2"),
       url("../fonts/trajan-latin/TrajanPro-Regular.woff") format("woff"),
       url("../fonts/trajan-latin/TrajanPro-Regular.ttf") format("truetype");
}

.font-c-sans { font-family: "PT", "Open", sans;}
.font-c-serif { font-family: "Source", "Lora", "Tiempo", "Book Antiqua", "Palatino", serif; }/*"CMU Serif",  Fanwood Text, Georgia, Times New Roman, Times, serif "Libre Baskerville", "Palatino Linotype",  "Libre Franklin", "Gotham", sans-serif; */
.font-c { font-family: "Latin", "Trajan", "Cinzel"; font-variant: small-caps;}

input {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.sc { font-variant: small-caps;}

#nojs, #nojsrl { display: none; }// noscript

@keyframes bounce { to { transform: translateY(5%); } }

.ae { animation: bounce 1s infinite alternate ease-in-out; }

.s { -webkit-filter: drop-shadow(5px 8px 6px rgba(122, 122, 122, .8)); filter: drop-shadow(5px 8px 3px rgba(214, 189, 174, 0.8)); }

.text-blue-a { color: $blue;}
.hover\:text-blue-a:hover { color: $blue;}

.hyphens { hyphens: auto; }

//.sh { user-select: none; pointer-events: none;}code #464d77 0071E3 <span>$</span>

// .sep { content: "·";}
// details[open] > summary:after {
//   content: "·";
// }
.arrowl:hover { padding-right: .2em; display: inline-block; transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }
.arrowr:hover { padding-left: .2em; display: inline-block; transition: all .2s ease-in-out; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; }

.expand:hover { transform: scale(0.9, 0.9); /* width: 18px; height: 18px; */ margin-left: .2em; /* margin-right: 0; */ margin-bottom: .26em; display: inline-block; transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; }

.t-img {
  -webkit-transition: -webkit-filter .2s ease-in-out;
  transition: filter .2s ease-in-out;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
.t-img:hover { filter: grayscale(5%); -webkit-filter: grayscale(5%); transition: filter .2s ease-in-out; }

.kid form {
  margin-left: -30px;
}
.kid .kid form {
  margin-left: -90px;
}

// .set { transition: all .7s; -webkit-transition: all .6s; }
// .set a { transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); }
// .set:hover { transform: rotate(80deg); -ms-transform: rotate(80deg); -webkit-transform: rotate(80deg); }

// .r-180 { transition: all .7s; transform: rotate(0deg); -ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); }
// .r-180:hover { transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); }
// .r-180:focus { transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); }

.scale-1 {
  transform: scale(-1,1);
}

.un { display: inline-block;}
.un::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  // background: rgba(55, 55, 55, .9);
  background: $nav;//$marzipan;//#30e8bf
    background: -webkit-linear-gradient(to right, $nav, $gray-hover);//$selection-color
    background: linear-gradient(to right, $nav, $gray-hover);//#ff8235
  transition: 300ms;
}
.un:hover::after {
  width: 100%;
}

// .link-hover .link__content[data-v-6ac2237a]:after {
//   position: relative;
//   top: .1rem;
//   display: block;
//   height: 2px;
//   margin: 0 auto;
//   background-image: linear-gradient(90deg,#db469f 70%,#9fb2e6 90%,#f0f6fc);
//   box-shadow: 0 0 0.75rem 0.1rem rgb(255 0 200 / 60%);
//   transform: scaleX(0);
//   transform-origin: left;
//   transition: transform .15s linear;
//   content: "";
// }

.fl::first-letter { initial-letter: 4 5; -webkit-initial-letter: 4 5; -ms-text-initial-letter: 4 5; -moz-text-initial-letter: 4 5; line-height: 70px; overflow:hidden; font-size: 510% !important; -ms-font-size: 510% !important; -moz-font-size: 510% !important; -webkit-font-size: 510% !important; float: left; -webkit-float: left; margin: 11px 6px 0px 0px; text-transform: uppercase; font-family: "font-c", "CMU Serif", "Lusitana";  color: #ECC781;}
//'Georgia' "Goudy Initialen", "Baroque Explosion", "TrajanusBricks", "Edwardian Script ITC"
// audio { transition: all 0.5s linear;}

::-moz-selection { background: $selection-color; }/*FFFFE0 FFFF9B FFFF63 EBEF9B rgb(255, 255, 99);*/
::selection { background: $selection-color; }

.flex-text {
  font-size: calc(1vw + 0.85rem);
  line-height: 1.3; /* = font-size * 1.3 = (1vw + 0.85rem) * 1.3 */
}

@media (max-width: 979px) { body { margin: 0; /* padding-top: 0px; */ } }
@media print { .no-print, .no-print * { display: none !important; } }

// https://craftpip.github.io/jquery-confirm/v3.3.2/themes.html https://github.com/craftpip/jquery-confirm/blob/master/css/jquery-confirm.css
// .jconfirm.jconfirm-clvm .jconfirm-bg{
//   background-color: $footer;
//   opacity: .6;
// }
// .jconfirm.jconfirm-clvm .jconfirm-box{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box.loading{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box.loading:before{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box.loading:after{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box .jconfirm-closeIcon{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box .jconfirm-title-c{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box .jconfirm-content-pane{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box .jconfirm-content{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box .jconfirm-buttons{
// }
// .jconfirm.jconfirm-clvm .jconfirm-box .jconfirm-buttons button{
// }
// .jconfirm.jconfirm-modern .jconfirm-box {
//   background-color: white;
//   -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
//   box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
//   padding: 30px 30px 15px;
// }

// .jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-closeIcon {
//   color: rgba(0, 0, 0, 0.87);
//   top: 15px;
//   right: 15px;
// }

// .jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c {
//   color: rgba(0, 0, 0, 0.87);
//   font-size: 24px;
//   font-weight: bold;
//   text-align: center;
//   margin-bottom: 10px;
// }

// .jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
//   -webkit-transition: -webkit-transform .5s;
//   transition: -webkit-transform .5s;
//   transition: transform .5s;
//   transition: transform .5s, -webkit-transform .5s;
//   -webkit-transform: scale(0);
//   transform: scale(0);
//   display: block;
//   margin-right: 0px;
//   margin-left: 0px;
//   margin-bottom: 10px;
//   font-size: 69px;
//   color: #aaa;
// }

// .jconfirm.jconfirm-modern .jconfirm-box div.jconfirm-content {
//   text-align: center;
//   font-size: 15px;
//   color: #777;
//   margin-bottom: 25px;
// }

// .jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons {
//   text-align: center;
// }

// .jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button {
//   font-weight: bold;
//   text-transform: uppercase;
//   -webkit-transition: background .1s;
//   transition: background .1s;
//   padding: 10px 20px;
// }

// .jconfirm.jconfirm-modern .jconfirm-box .jconfirm-buttons button + button {
//   margin-left: 4px;
// }

// .jconfirm.jconfirm-modern.jconfirm-open .jconfirm-box .jconfirm-title-c .jconfirm-icon-c {
//   -webkit-transform: scale(1);
//   transform: scale(1);
// }
// .jconfirm.jconfirm-supervan .jconfirm-bg {
//   background-color: rgba(54, 70, 93, 0.95);
// }

// .jconfirm.jconfirm-supervan .jconfirm-box {
//   background-color: transparent;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-blue {
//   border: none;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-green {
//   border: none;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-red {
//   border: none;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-orange {
//   border: none;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-purple {
//   border: none;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box.jconfirm-type-dark {
//   border: none;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-closeIcon {
//   color: white;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c {
//   text-align: center;
//   color: white;
//   font-size: 28px;
//   font-weight: normal;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c > * {
//   padding-bottom: 25px;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
//   margin-right: 8px;
//   margin-left: 0px;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content-pane {
//   margin-bottom: 25px;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-content {
//   text-align: center;
//   color: white;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons {
//   text-align: center;
// }

// .jconfirm.jconfirm-supervan .jconfirm-box .jconfirm-buttons button {
//   font-size: 16px;
//   border-radius: 2px;
//   background: #303f53;
//   text-shadow: none;
//   border: none;
//   color: white;
//   padding: 10px;
//   min-width: 100px;
// }

// .jconfirm.jconfirm-supervan.jconfirm-rtl .jconfirm-box div.jconfirm-title-c .jconfirm-icon-c {
//   margin-left: 8px;
//   margin-right: 0px;
// }