.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 6px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 100ms ease;
  transition: box-shadow 100ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
/* https://stripe.com/docs/stripe-js
uppercase my-6 border-4 bg-blue-400 border-blue-400 hover:bg-yellow-600 hover:border-yellow-600 hover:text-white py-1 px-2 rounded-sm text-sm btn-load
*/