{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% if title %}{{ title }}{% else %}Email{% endif %}{% endblock %}
{% block content %}
<div class="px-12 max-w-xs mx-auto">
  {% if title %}
  <div class="border-b border-gray-400 mb-6">
    <h1 class="text-lg font-semibold uppercase pb-3 text-center">{{ title }}</h1>
  </div>
  {% endif %}
  <form method="POST" action="{% if 'action_url' %}{{ action_url }}{% endif %}"> {% csrf_token %}
    {% if next %}
    <input type='hidden' name='next' value='{{ next_url }}'>
    {% endif %}
    <div class="text-sm">
      {{ form }}
    </div>
    <div class="text-center mt-4">
      <a class="block text-xs text-gray-700 hover:text-gray-900 hover:underline mb-6" href="{{ psw_change_url }}">{% trans 'Change Password' %}</a>
      <div class="mx-4"><button type="submit" class="w-full border-2 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white py-1 px-2 text-sm uppercase rounded focus:outline-none">{% trans 'Save' %}</button></div>
    </div>
  </form>
</div>
{% endblock %}
{#<!-- psw_change_url -> templates/registration/password_change_form.html <label for="email">Email:</label><input type="text" id="email" class="form-control" value="{{ request.user.email }}" disabled="disabled"/><span class="text-gray-700 text-sm">Cannot change email</span> |crispy .as_p -->#}