{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% if title %}{{ title }}{% else %}{% trans 'Edit Profile' %}{% endif %}{% endblock %}
{% block content %}
<div class="text-lg font-c-sans max-w-xs mx-auto">
  {% if title %}
  <div class="border-b border-gray-300">
    <h1 class="h1">{{ title }}</h1>
  </div>
  {% endif %}
  <form method="post" enctype="multipart/form-data"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    <div class="space-y-3 mt-5">
      <div class="text-center">
        {% if img.url %}
        <img src="{{ img.url }}" alt="{% if fn %}{{ fn }}{% else %}{{ usr }}{% endif %} {% trans 'Image' %}" class="w-64 h-64 border border-gray-300 rounded-full mx-auto">
        {% else %}
        <svg class="text-gray-600 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#smile"></use></svg>
        {% endif %}
      </div>
      <div>
        <label for="id_img" class="lf">{{ form.img.label }}</label>
        {{ form.img }}
      </div>
      <div>
        <label for="id_first_name" class="lf">{{ form.first_name.label }}</label>
        {{ form.first_name }}
      </div>
      <div>
        <label for="id_last_name" class="lf">{{ form.last_name.label }}</label>
        {{ form.last_name }}
      </div>
    </div>
    <div class="text-center space-y-5 mt-4">
      <a class="text-base text-gray-700 hover:text-gray-900 rounded-xl border border-transparent hover:border-yellow-400 focus:outline-none py-1 px-2" href="{{ psw_change_url }}">{% trans 'Change password' %}</a>
      <button type="submit" class="cbtn">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}
{#<!-- psw_change_url -> templates/registration/password_change_form.html <label for="email">Email:</label><input type="text" id="email" class="form-control" value="{{ request.user.email }}" disabled="disabled"/><span class="text-gray-700 text-sm">Cannot change email</span> |crispy .as_p -->#}