{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% if title %}{{ title }}{% else %}{% trans 'Edit Profile' %}{% endif %}{% endblock %}
{% block content %}
<div class="text-lg font-c-sans max-w-xs mx-auto">
  {% if title %}
  <div class="border-b border-gray-300 pb-3">
    <h1 class="text-2xl font-semibold">{{ title }}</h1>
  </div>
  {% endif %}
  <form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    <div class="space-y-2 mt-5">
      <div class="text-gray-700 m-1">{{ form.first_name.label }}</div>
      {{ form.first_name }}
      <div class="text-gray-700 m-1">{{ form.last_name.label }}</div>
      {{ form.last_name }}
    </div>
    <div class="text-center space-y-5 mt-4">
      <a class="text-base text-gray-700 hover:text-gray-900 rounded-xl border border-transparent hover:border-yellow-400 focus:outline-none py-1 px-2" href="{{ psw_change_url }}">{% trans 'Change password' %}</a>
      <button type="submit" class="w-full text-white rounded-xl border-2 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 focus:outline-none py-1 px-2">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}
{#<!-- psw_change_url -> templates/registration/password_change_form.html <label for="email">Email:</label><input type="text" id="email" class="form-control" value="{{ request.user.email }}" disabled="disabled"/><span class="text-gray-700 text-sm">Cannot change email</span> |crispy .as_p -->#}