{% load i18n meta static %}
{% url 'home:home' as home_url %}
{% url 'home:cookie' as cookie_url %}
{% url 'home:privacy' as privacy_url %}
{% url 'home:terms' as terms_url %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}
{% url 'password_change' as psw_change_url %}
{% url 'password_reset' as psw_reset_url %}
{% url '2fa_auth' as 2fa_url %}
{% with com='Clavem' url='www.clavem.co' %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head {% meta_namespaces %}>
  {% include 'base/snippets/head.html' %}
  <title>{% block title %}{% endblock %} · {{ com }}</title>
</head>
<body class="bg-primary">
  <div id="nojs" class="max-w-xs py-16 mx-auto">
    {% include 'base/snippets/message.html' %}
    <div class="font-c-sans border border-gray-300 shadow-md bg-footer text-black text-lg rounded-xl">
      <div class="mt-8">
        <svg class="animate-pulse s w-24 h-24 fill-current mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
      </div>
      {% block content %}{% endblock %}
    </div>
  </div>
  {% include 'base/noscript.html' %}
  <script rel="preload" type="text/javascript" src="{% static 'js/popper-2.9.1.min.js' %}"></script>
  {% include 'base/snippets/tippy.html' %}
  {% block js %}{% endblock %}
</body>
</html>
{% endwith %}
{% comment %}<!--<base target="_blank" rel="noopener"> { % include 'base/js.html' %}<a href="{ { home_url }}"></a> https://asciinema.org/login/new passwordless recaptchav3='6LcicwYaAAAAAKyAuNUO8ZJK_epWL5dzZdyoDdnS' oncontextmenu="return false" onkeydown="return true;" onmousedown="return true;"
{ % with HCAPTCHA_SECRET_KEY='d7fbaf1d-fc21-41e9-9e9d-5555b16a7eba' %}<script src="https://hcaptcha.com/1/api.js" async defer></script><script src="{ % static 'js/hcaptcha.js' %}"></script>
<script src="https://assets.hcaptcha.com/captcha/v1/88f8cd7/hcaptcha.js" integrity="sha384-VEF/+ve5fSbrXhXJ0k8p/QznSGTj0vaxJjC5eG6/YL4X4Tumcooelh0RAFuTIj18" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LcQrKsZAAAAAO-qIYwbGmhmnL2O_MyHYc6x8nwE"></script>
<script>grecaptcha.ready(function(){$('#rlform').submit(function(e){var form = this;e.preventDefault()grecaptcha.execute('6LcQrKsZAAAAAO-qIYwbGmhmnL2O_MyHYc6x8nwE', {action: 'rlform'}).then(function(token){$('#recaptcha').val(token)form.submit})})})</script>
<div class="p-2 pt-0 h-captcha" data-sitekey="d7fbaf1d-fc21-41e9-9e9d-5555b16a7eba"></div>-->{% endcomment %}