{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Account' %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-xl px-1 mx-auto">
  <div class="bordb">
    <h1 class="h1">{% if request.user.first_name %}{% trans 'Settings of ' %}{{ request.user.first_name }}{% else %}{% trans 'Settings' %}{% endif %}</h1>
  </div>
  <div class="text-lg">
    <div class="usrt">
      <b class="pl-1 mb-1">{% trans 'Billing' %}</b>
      <p><a class="usra" href="{{ order_url }}">{% trans 'Orders' %}</a></p>
      <p><a class="usra" href="{{ billing_url }}">{% trans 'Payment Method' %}</a></p>
      <p><a class="usra" href="{{ addresses }}">{% trans 'Update Address' %}</a></p>
    </div>
    <div class="usrt">
      <b class="pl-1 mb-1">{% trans 'Account details' %}</b>
      <p><a class="usra" href="{{ usr_update_url }}">{% trans 'Update Profile' %}</a></p>
      <p><a class="usra" href="{{ psw_change_url }}">{% trans 'Change Password' %}</a></p>
    </div>
    <div class="usrt">
      <b class="pl-1 mb-1">{% trans 'Preferences' %}</b>
      <p><a class="usra" href="{{ mkt_url }}">{% trans 'Email Notification' %}</a></p>
    </div>
    <div class="usrt">
      <b class="pl-1 mb-1">{% trans 'History' %}</b>
      <p><a class="usra" href="{{ prod_history_url }}">{% trans 'Products Viewed' %}</a></p>
      <p><a class="usra" href="{{ dig_lib_url }}">{% trans 'Digital Purchases' %}</a></p>
    </div>
    <div class="usrt">
      <b class="pl-1 mb-1">{% trans 'Support' %}</b>
      <p><a class="usra" href="{{ contact_url }}">{% trans 'Contact' %}</a></p>
    </div>
    {% if get_language_info_list %}
    <div x-data="{open: false}" class="relative inline-block mb-4">
    <button @click="open=!open" type="button" class="flex mx-auto justify-center bord shadow-sm px-2 py-1 bg-white text-gray-700 hover:bg-gray-50 cr2" id="options-menu" aria-expanded="true" aria-haspopup="true">
      {% trans 'Language' %}
      <svg class="r-180 fill-current text-gray-600 w-5 h-5 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow-d"></use></svg>
    </button>
    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="bottom-0 bg-white origin-top-right absolute right-0 rounded-lg-lg shadow-lg" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
      <div class="py-1 rounded-lg">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGE %}
      {% get_language_info_list for LANGUAGE as langs %}
      {% for l in langs %}
      {% if not l.code == 'en' %}
      <a href="/{{ l.code }}/" class="block hover:bg-gray-300 px-4 py-2" role="menuitem">{{ l.name_local }}</a>
      {% endif %}
      {% endfor %}
      </div>
    </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock%}{#<!-- add analytics id="billing" currency -->#}