{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Account' %}{% endblock %}
<!--{# <a class="list-group-item" href="{{  }}">Address</a> #}-->
{% block content %}
<div class="font-c-sans px-4 md:px-8 max-w-lg mx-auto">
  <div class="block md:text-cente border-b border-gray-300 pb-3">
    <h1 class="text-xl font-semibold">
      {% if request.user.first_name %}{% trans 'Settings of ' %}{{ request.user.first_name }}{% else %}{% trans 'Settings' %} 
      {% endif %}</h1>
  </div>
  <div class="block md:inline-block text-sm">
    <div class="md:inline-block align-top border border-gray-300 bg-white rounded-lg hover:shadow p-4 overflow-hidden items-center mt-5 sm:mr-4 lg:mr-5"
      id="billing">
      <p class="font-semibold mb-1">{% trans 'Billing' %}</p>
      <p><a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ order_url }}">{% trans 'Orders' %}</a></p>
      <p><a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ billing_url }}">{% trans 'Payment method' %}</a></p>
    </div>
    <div class="md:inline-block align-top border border-gray-300 bg-white rounded-lg hover:shadow p-4 overflow-hidden items-center mt-5 sm:mr-4 lg:mr-5">
      <p class="font-semibold mb-1">{% trans 'Support' %}</p>
      <p><a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ contact_url }}">{% trans 'Contact' %}</a></p>
    </div>
    <div class="md:inline-block border border-gray-300 bg-white rounded-lg hover:shadow p-4 overflow-hidden items-center mt-5 sm:mr-4 lg:mr-5">
      <p class="font-semibold mb-1">{% trans 'Account details' %}</p>
      <a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ usr_update_url }}">{% trans 'Update profile' %}</a></p>
      <a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ psw_change_url }}">{% trans 'Change password' %}</a></p>
    </div>
    <div class="align-top md:inline-block border border-gray-300 bg-white rounded-lg hover:shadow p-4 overflow-hidden items-center mt-4 sm:mr-4 lg:mr-5">
      <p class="font-semibold mb-1">{% trans 'Preferences' %}</p>
      <p><a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ mkt_url }}">{% trans 'Email notification' %}</a></p>
    </div>
    <div class="align-top md:inline-block border border-gray-300 bg-white rounded-lg hover:shadow p-4 overflow-hidden items-center mt-4 sm:mr-4 lg:mr-5">
      <p class="font-semibold mb-1">{% trans 'History' %}</p>
      <p><a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ prod_history_url }}">{% trans 'Products viewed' %}</a></p>
      <p><a class="un text-gray-800 hover:text-black focus:outline-none" href="{{ dig_lib_url }}">{% trans 'Digital purchases' %}</a></p>
    </div>
    {% if get_language_info_list is not None %}
    <div x-data="{open: false}" class="relative inline-block mb-4">
      <button @click="open=!open" type="button" class="flex mx-auto text-sm justify-center w-ful rounded-lg-lg border border-gray-300 shadow-sm px-2 py-1 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-transparent focus:ring-yellow-100" id="options-menu" aria-expanded="true" aria-haspopup="true">
        {% trans 'Language' %}
        <svg class="r-180 fill-current text-gray-600 h-5 w-5 ml-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow-d"></use></svg>
      </button>
      <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="bottom-0 bg-white origin-top-right absolute right-0 rounded-lg-lg shadow-lg" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <div class="py-1" role="none">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGE %}
          {% get_language_info_list for LANGUAGE as langs %}
          {% for l in langs %}
          {% if not l.code == 'en' %}
          <a href="/{{ l.code }}/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">{{ l.name_local }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock%}
<!--{# add currency #}-->