{% extends 'base.html' %}
{% load class_name i18n %}
{#<!-- % if object_list|length > 1 %}{ % trans 'No results ._.' %} not query == '+' or not query == '' or { % elif object_list == ']>' or query is None %}Nothing to search for  for { { query }-->#}
{% block title %}{% trans 'Search results' %}{% endblock %}
{% block content %}
<div class="wxs">
    <div class="bordb">
      <h1 class="h1">
      {% if object_list and query %}{% trans 'Results for' %} {{ query }}
      {% else %}{% trans 'Nothing found' %}{% endif %}
      </h1>
    </div>
    <div class="my-4">
      {% include 'search/search-form.html' %}
    </div>
    {% if object_list and query %}
    <div class="space-y-4">
    {% for o in object_list %}
      {% with o|class_name as klass %}
      {% if klass == 'Book' and o.active %}
      <div>
        {% include 'education/bcard.html' with object=o %}
      </div>
      {% elif klass == 'Essay' and o.publish %}
      <div>
        {% include 'essays/wcard.html' with object=o %}
      </div>
      {% elif klass == 'Product' and o.active %}
      {% include 'shop/snippets/pcard.html' with object=o %}
      {% endif %}
      {% endwith %}
    {% endfor %}
    </div>
    {% endif %}
  </div>
{% endblock %}