{% load i18n static %}
{% spaceless %}
<form method="get" action="{{ search_url }}" class="search-form w-full justify-between opacity-90 hover:opacity-100 bord hover:border-yellow-400 hover:shadow rounded-xl bg-white text-gray-800 inline-flex items-center px-3">
  <input type="search" placeholder="{% trans 'Search' %}" name="q" aria-label="{% trans 'Search' %}" value="{{ request.GET.q }}" id="serc">
  <button class="inline-flex cr2 ml-1" type="submit">
  <span hidden>{% trans 'Search' %}</span>
  <svg class="fill-current hover:text-black h-5 w-5"><use xlink:href="{% static 'img/svg-defs.svg' %}#search"></use></svg></button>{#<!--% if 'search' in request.path %}py-2{% endif %} % url 'search:query' % Enter ↲-->#}
</form>
{% endspaceless %}