{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% if title %}{{ title }}{% else %}{% trans 'URL Shortner' %}{% endif %}{% endblock %}
{% block content %}
<div class="wxs">
{% if request.user.is_authenticated and request.user.is_admin or request.user.is_staff %}
  <div class="bordb mb-4">
    <h1 class="h1">{% if title %}{{ title }}{% else %}{% trans 'URL Shortner' %}{% endif %}</h1>
  </div>
  <form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    <label for="id_url" class="text-gray-700 m-1">{{ form.url.label }}</label>
    {{ form.url }}
    <input type="submit" value="{% trans 'Shorthen' %}" class="w-full cursor-pointer bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 cr2 px-2 py-1 mt-6">
  </form>
{% else %}
  <div>
    <p class="text-center mt-8">{% trans 'Please ' %}<a href="{{ login_url }}?next={{ request.get_full_path|urlencode }}" class="text-yellow-500 hover:text-yellow-600 font-semibold focus:outline-none">{% trans 'log in' %}</a>{% trans ' to access this page.' %}</p>
  </div>
{% endif %}
</div>
{% endblock %}