{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% if title %}{{ title }}{% else %}{% trans 'URL Shortner' %}{% endif %}{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="wxs">
  <div class="bordb mb-4 mr-6">
    <h1 class="h1">{% if title %}{{ title }}{% else %}{% trans 'Short URL Exists' %}{% endif %}</h1>
  </div>
  {% if object.clickevent %}<p>Clicks: {{ object.clickevent.count }}</p>{% endif %}
  <a href="{{ object.get_short_url }}" class="block bt cr2 my-4">{{ object.get_short_url }}</a>
  <a href="{{ short_url }}" class="text-lg text-center inline-flex items-center bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 border-2 border-yellow-300 cr2 py-1 px-2">
    <svg class="fill-current w-4 h-4 mr-2"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
    {% trans 'Add new' %} URL
  </a>
</div>
{% endif %}
{% endblock %}