{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% if title %}{{ title }}{% else %}{% trans 'URL Shortner' %}{% endif %}{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="wxs">
  <div class="bordb mb-4 xl:mr-6">
    <h1 class="h1">{% if title %}{{ title }}{% else %}{% trans 'Short URL Created' %}{% endif %}</h1>
  </div>
  <a href="{{ object.get_short_url }}" class="block bt cr2">{{ object.get_short_url }}</a>
</div>
{% endif %}
{% endblock %}{#<!-- <p>{ { object.url }}</p> -->#}