{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% if title %}{{ title }}{% else %}{% trans 'URL shortner' %}{% endif %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-sm mx-auto">
{% if request.user.is_authenticated and request.user.is_staff %}
  <div class="mr-6">
    <div class="border-b border-gray-300 pb-2 mb-4">
      <h1 class="text-lg">{% if title %}{{ title }}{% else %}{% trans 'URL shortner' %}{% endif %}</h1>
    </div>
    <form method="post" action="."> {% csrf_token %}
      {{ form }}
      <input type="submit" value="{% trans 'Shorthen' %}" class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-200 focus:ring-offset-transparent focus:ring-offset-2 px-2 py-1">
    </form>
  </div>
{% else %}
  <div>
    <p class="text-center text-lg mt-8">{% trans 'Please ' %}<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}" class="text-yellow-500 hover:text-yellow-600 font-semibold focus:outline-none">{% trans 'log in' %}</a>{% trans ' to access this page.' %}</p>
  </div>
{% endif %}
</div>
{% endblock %}