{% load i18n %}
{% spaceless %}
<div class="my-2">
  <div class="inline-flex w-full text-sm space-x-1 bg-white border border-gray-300 rounded-xl shadow">
    {% if audio %}
    <a data-tippy-content="{% trans 'Play CAPTCHA as audio file' %}" href="{{audio}}">
    {% else %}
    <img src="{{image}}" alt="captcha" class="captcha rounded-xl">
    <p>{% trans 'A little test to let humans in and bots out' %}.</p>
    {% endif %}
  </div>
  <label for="id_captcha_1" class="text-gray-700 m-1">{% trans 'Result' %}</label>
  {% include "django/forms/widgets/multiwidget.html" %}
</div>
{% endspaceless %}