{% load i18n %}
{% spaceless %}
<div class="my-2">
  <div class="inline-flex w-full text-sm space-x-1 bg-white border border-gray-300 rounded shadow">
    {% if audio %}
    <a data-tippy-content="{% trans 'Play CAPTCHA as audio file' %}" href="{{ audio }}">
    {% else %}
    <img src="{{ image }}" alt="captcha" class="captcha rounded">
    <p>{% trans 'A little test to make sure you are a human' %}</p>
    {% endif %}
  </div>
  <div class="bg-white border border-gray-300 shadow hover:border-gray-400 py-1 px-2 rounded shadow">{% include "django/forms/widgets/multiwidget.html" %}</div>
</div>
{% endspaceless %}