{% load static %}
<!-- <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script> -->
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "rgba(0,0,0,.9)"
    },
    "button": {
      "background": "#ECC24C",
      "hover": "#F59E0B",
      "text": "#000"
    }
  },
  "theme": "classic",
  "type": "opt-out",
  "content": {
    "message": "{{ com }}'s services may collect data while you're using them to continuously improve your experience.",
    "dismiss": "Ok, I agree",
    "deny": "Opt out",
    "link": "<div class='inline-flex'>Transparency: Please, read about the data we may collect. <svg class='w-5 h-5 ml-2'><use xlink:href=\"{% static 'img/svg-defs.svg' %}#eu\"></use></svg></div>",
    "href": "{{ cookie_url }}",
    "target": "_blank"
  }
});
</script>
{% comment %}<!--<div class='inline-flex items-center'><svg class='fill-current w-3 h-3 mr-2'><use xlink:href='/static/img/svg-defs.svg#x'></use></svg> <script>
  window.addEventListener("load", function () {
    window.cookieconsent.initialise({
      container: document.getElementById("cookieconsent"),
      "palette": {
        "popup": {
          "background": "rgba(0,0,0,.9)",
        },
        "button": {
          "background": "#E7D5BF",
          "hover": "#ECDDCC",
          "text": "#000"
        }
      },
    "content": {
    "message": "{{ com }}'s services may collect data while you're using them to continuously improve your experience.",
    "allow": "Ok, I agree",
    "deny": "Opt out",
    "dismiss": "Close",
    "link": "<div class='inline-flex items-center'>Transparency: Please, read about the data we may collect. <svg class='w-5 h-5 inline-flex ml-2'><use xlink:href=\"{% static 'img/svg-defs.svg' %}#eu\"></use></svg></div>",
    "href": "{{ cookie_url }}",
    "target": "_blank",
  },
    revokable: true,
    onStatusChange: function (status) { console.log(this.hasConsented() ? 'enable cookies' : 'disable cookies'); },
    })
  });
</script>
 #F8F8F8 ECC24C F59E0B agree using cookie See your data add data graph in home/<username> data transparency https://www.osano.com/cookieconsent/documentation/javascript-api/
Privacy Reminder: the sharing system used for this video implies that some technical information about your system (such as a public IP address) can be sent to other peers. More information
  elements: {
  message: '<span id="cookieconsent:desc" class="cc-message">To improve your experience, {{ com }}\'s services may collect data about you using cookie.</span>',
  messagelink: '<span id="cookieconsent:desc" class="cc-message"><a aria-label="Learn more" tabindex="0" class="cc-link" href="{{ cookie_url }}" target="_blank">Learn more</a></span>',
  allow: '<a aria-label="allow cookies" tabindex="0" class="cc-btn cc-allow"></a></div>',
},
#171717 313131 313A45 EBE4E5 84BD00 88B04B 5AFFDF 2BE8C2 B8B1B2
"theme": "edgeless",
https://www.cookiesandyou.com
"close": '&#x274c;',
"policy": 'Cookie Policy'-->{% endcomment %}