<script>
  var p = window.location.pathname;
  if (p.indexOf('{{ essays_url }}') > -1 || p.indexOf('{{ edu_url }}') > -1 || p.indexOf('{{ privacy_url }}') > -1 || p.indexOf('{{ terms_url }}') > -1 || p.indexOf('{{ cookie_url }}') > -1) {
    function focusMode(e) {
      if (e.requestFullscreen) {
        e.requestFullscreen();
      } else if (e.mozRequestFullScreen) {
        e.mozRequestFullScreen();
      } else if (e.webkitRequestFullscreen) {
        e.webkitRequestFullscreen();
      } else if (e.msRequestFullscreen) {
        e.msRequestFullscreen();
      }
      document.getElementById('navapp').classList.add('hidden');// style.visibility = 'hidden';
      document.getElementById('fulscrin').classList.add('hidden');
    }
    function exitFocusMode() {
      if (document.fullscreenElement) {
        document.exitFullscreen();
      } else if (document.fullscreenElement) {
        document.mozCancelFullScreen();
      } else if (document.fullscreenElement) {
        document.webkitExitFullscreen();
      }
      document.getElementById('navapp').classList.remove('hidden');
      document.getElementById('fulscrin').classList.remove('hidden');
    }
  }
</script>
{% comment %}<!--fullscreen() {
  if (document.fullscreenElement === null) {
    this._fullscreen.openFullscreen();
  } else {
    this._fullscreen.closeFullscreen();
  }
}
  document.addEventListener('keydown', element.requestFullscreen()); document.fullscreen //$("a").css("pointer-events","none");
// $('a').contents().unwrap();GetStyleClass('a').pointerEvents = "none"//$('a')//.style.pointerEvents = "none"
//$('a').replaceWith(function() { return $(this).contents();})
//location+=''; $('a').classList.remove('disabled') $('a').className += " enabled"//.classList.add('enabled')
// document.getElementById('a').style.pointerEvents = ""
function GetStyleClass(className){
  for (var i=0; i< document.styleSheets.length; i++) {
    var styleSheet = document.styleSheets[i]
    var rules = styleSheet.cssRules || styleSheet.rules
    for (var j=0; j<rules.length; j++) {
      var rule = rules[j]
      if (rule.selectorText === className) {
        return(rule.style)
      }
    }
  }
  return 0
}-->{% endcomment %}