{% if messages %}
<ul class="bg-white text-center text-xl font-c-sans border border-yellow-400 rounded-xl p-2 mb-8">
  {% for m in messages %}
  <li{% if m.tags %} class="{{ m.tags }}"{% endif %}>
    {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
    {{ m }}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% comment %}<!--<div class="flex p-4 text-center">
  <div class="flex justify-between w-full">
    {% for m in messages %}
    <span{% if m.tags %} class="{{ m.tags }} pb-2"{% endif %}>
      {% if m.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ m }}<br/>
    </span>
    {% endfor %}
  </div>
</div> warnings %} if (tweeted || facebooked) {
  gratitude += 1;
}
if (githubStarred) {
  karmaBalance = true;
} else {
  $('we').say('ok');
} <div class="text-sm text-grey"><span class="rounded-full">x</span></div>
<div class="h-6 w-6 text-white bg-green-dark rounded-full flex justify-center items-center">-->{% endcomment %}