{% if messages %}
<div class="flex bg- p-4 text-center">
  <div class="flex justify-between w-full">
    {% for message in messages %}
    <span {% if message.tags %} class="{{ message.tags }} pb-2" {% endif %}>
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
      {{ message }}
    </span>
    {% endfor %}
  </div>
</div>
{% endif %}
{% comment %}<!--
if (tweeted || facebooked) {
  gratitude += 1;
}
if (githubStarred) {
  karmaBalance = true;
} else {
  $('we').say('ok');
} <div class="text-sm text-grey"><span class="rounded-full">x</span></div>
alert alert-success messages<div class="h-6 w-6 text-white bg-green-dark rounded-full flex justify-center items-center"><i class="material-icons">done</i></div>-->{% endcomment %}