{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{ com }} Website">
<meta property="og:site_name" content="{{ com }}">
<meta property="og:image"content="{{ com }}">
<meta property="og:title" content="{{ com }}">
<meta property="og:description" content="Website of {{ com }}">
<meta property="og:url" content="{{ url }}">
<meta name="robots" content="none,noarchive">{#<!-- noindex, noarchive"/> -->#}
<link rel="author" href="{{ team_url }}">
<link rel="icon" href="{% static 'img/favicon/c-32.ico' %}">
<link rel="icon" href="{% static 'img/favicon/c-favicon.min.svg' %}" type="image/svg+xml" sizes="any">
<link rel="apple-touch-icon" href="{% static 'img/favicon/c-180.png' %}">
<link rel="manifest" href="{% static 'manifest.webmanifest' %}">{#<!-- { % include 'base/js.html' %} -->#}
{% include 'base/css.html' %}