
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tooltip/css/tooltipster.bundle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'tooltip/css/themes/tooltipster-sideTip-noir.min.css' %}">
<script type="text/javascript" src="{% static 'tooltip/js/tooltipster.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tooltip/js/plugins/SVG/tooltipster-SVG.min.js' %}"></script>
<!-- {# borderless light shadow #} -->
<script>
  $(document).ready(function () {
    $('.tooltip').tooltipster({
      theme: 'tooltipster-noir',
      side: 'bottom'
    });
  });
</script>