{% load i18n static %}
<form class="form form-product-ajax" method="post" action="{{ update_cart_url }}" data-endpoint="{{ update_cart_url }}"enctype="multipart/form-data"> {% csrf_token %}
  <input class="cart-item-product-id hidden" type="hidden" name="product_id" value="{{ id }}">
  <button type="submit" class="rem flex text-gray-500 hover:text-red-600 rounded-full focus:outline-none focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2" data-tippy-content="{% trans 'Remove' %}">
    <svg class="w-4 h-4"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
    <span hidden>{% trans 'Remove' %}</span>
  </button>
</form>
