{% extends 'base.html' %}
{% load usd i18n static %}
{% block title %}{% trans 'Revenues' %}{% endblock %}
{#<!-- x-bind:value="{{ forloop.counter }}"-->#}
{% block content %}
<div @click.away="show = false" x-data="{ cur: '1', show: false }" class="font-c-sans text-lg max-w-lg mx-auto">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-semibold">📈 {% trans 'Revenue' %}</h1>
    <div class="inline-flex items-center space-x-2">
      <label for="currency text-base">{% trans 'Currency' %}</label>
      <div class="relative">
        <select id="currency" @change="cur = $event.target.value" name="currency">
          {% for c in currencies %}
          <option value="{{ forloop.counter }}">{{c.1}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="space-y-6">
    {% if this_week.recent %}
    <div class="bordt pt-4 mt-4 ml-2">
      <h2 class="text-xl">{% trans 'Current week revenue' %}:
        <span class="bg-white border-2 border-yellow-300 rounded-xl px-2 py-1 ml-1">
          {% if this_week.recent_data.total__sum %}
          <span x-show="cur == 1">€{{ this_week.recent_data.total__sum }}</span>
          <span x-show="cur == 2">${{ this_week.recent_data.total__sum|usd }}</span>
          {% else %}0{% endif %}
        </span>
      </h2>
      <div>
        <div class="text-center font-c-sans my-6">
          <button @click="show=!show" class="showbtn rounded-full" type="button">
            <p x-show="!show" class="inline-flex items-center space-x-2">
              <svg class="showsvg"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
              <span>{% trans 'Show details' %}</span>
            </p>
            <p x-show="show" class="inline-flex items-center space-x-2">
              <svg class="showsvg"><use xlink:href="{% static 'img/svg-defs.svg' %}#remove"></use></svg>
              <span>{% trans 'Hide' %}</span>
            </p>
          </button>
        </div>
        <table x-show="show" class="text-left mx-auto mb-6">
          <thead class="border-b border-gray-500">
            <tr>
              <th scope="col" colspan="1">{% trans 'Order' %} ID</th>
              <th scope="col" colspan="1" class="px-4">{% trans 'Revenue' %}</th>
              <th scope="col" colspan="1">{% trans 'Date' %}</th>
            </tr>
          </thead>
          <tbody>
          {% for o in this_week.recent %}
            <tr{% if not forloop.last %} class="bordb"{% endif %}>
              <td>{{ o.order_id }}</td>
              <td class="px-4">
                <span x-show="cur == 1">€{{ o.total }}</span>
                <span x-show="cur == 2">${{ o.total|usd }}</span>
              </td>
              <td>{{ o.updated|date:'Y-m-d, G:i' }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="bg-white rounded-xl bord shadow p-1">
          <canvas id="thisWeekSales" class="render-saleschart" data-type='week' width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="bordt pt-3 mt-3 ml-2">
      <h2 class="text-xl">{% trans 'Previous 4 weeks' %}</h2>
      <p>{% trans 'Orders total' %}:
        {% if last_four_weeks.recent_data.total__sum %}
        <span x-show="cur == 1">€{{ last_four_weeks.recent_data.total__sum }}</span>
        <span x-show="cur == 2">${{ last_four_weeks.recent_data.total__sum|usd }}</span>
        {% else %}0{% endif %}
      </p>
      <p>{% trans 'Shipped total' %}:
        {% if last_four_weeks.shipped_data.total__sum %}
        <span x-show="cur == 1">€{{ last_four_weeks.shipped_data.total__sum }}</span>
        <span x-show="cur == 2">${{ last_four_weeks.shipped_data.total__sum|usd }}</span>
        {% else %}0{% endif %}
      </p>
      <p>{% trans 'Paid total' %}: <span class="bg-white border-2 border-yellow-300 rounded-xl px-2 py-1">
        {% if last_four_weeks.paid_data.total__sum %}
        <span x-show="cur == 1">€{{ last_four_weeks.paid_data.total__sum }}</span>
        <span x-show="cur == 2">${{ last_four_weeks.paid_data.total__sum|usd }}</span>
        {% else %}0{% endif %}</span>
      </p>
    </div>
    <div class="bg-white bord rounded-xl shadow p-1">
      <canvas id="4weekSales" class="render-saleschart" data-type="4weeks" width="400" height="400"></canvas>
    </div>
  </div>
</div>
{% endblock%}{% comment %}<!--{% block js %}
  options: {
    animations: {
      tension: {
        duration: 1000,
        easing: 'linear',
        from: 1,
        to: 0,
        loop: true
      }
    },
 <div class="bordt pt-3">
  <h2>{% trans "Revenue at" %} {% now 'Y-m-d' %}:
    {% include 'base/snippets/currency.html' %}{% if today.recent_data.total__sum %}{{ today.recent_data.total__sum }}{% else %}0{% endif %}
  </h2>
  {% if today.recent %}
    <table x-show="show" class="text-left table-auto mx-auto">
      <thead class="border-b border-gray-500">
        <tr>
          <th scope="col" colspan="1">{% trans 'Order' %} ID</th>
          <th scope="col" colspan="1" class="px-4">{% trans 'Revenue' %}</th>
          <th scope="col" colspan="1">{% trans 'Date' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for o in today.recent %}{#<!-|slice:':5'D j, G:i->#}
        <tr class="{% if not forloop.last %}bordb{% endif %}">
          <td>{{ o.order_id }}</td>
          <td class="px-4">{% include 'base/snippets/currency.html' %}{{ o.total }}</td>
          <td>{{ o.updated|time:'Y-m-d, G:i' }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
<ul>
  {% for order in this_week.recent|slice:':5' %}
  <li>
    <p>{% trans 'Order' %} ID: {{ order.order_id }}
    {% include 'base/snippets/currency.html' %}{{ order.total }}
    {{ order.updated|timesince }} {% trans 'ago' %}</p>
&#x24; &#36; $ &#x20AC; &#8364;-->{% endcomment %}