{% load i18n static %}
<div class="text-lg">
<form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next_url }}">
  {% endif %}
  {% if address_type %}
  <input type="hidden" name="address_type" value="{{ address_type }}">
  {% endif %}
  {% if addupdate %}
  <div class="mb-2">
    <label class="ml-2">{{ form.address_type.label }}</label>
    <div class="w-full mx-auto">
      {{ form.address_type }}
    </div>
  </div>
  {% endif %}
  <div class="space-y-2">
    <div>
      <label for="id_street" class="ml-2">{{ form.street.label }}</label>
      {{ form.street }}
    </div>
    <div>
      <label for="id_city" class="ml-2">{{ form.city.label }}</label>
      {{ form.city }}
    </div>
    <div>
      <label for="id_state" class="ml-2">{{ form.state.label }}</label>
      {{ form.state }}
    </div>
    <div>
      <label for="id_country" class="ml-2">{{ form.country.label }}</label>
      {{ form.country }}
    </div>
    <div>
      <label for="id_zip" class="ml-2">{{ form.postal_code.label }}</label>
      {{ form.postal_code }}
      <span id="zip_msg" class="hidden">{% trans 'Please add a valid postal/zip code' %}</span>
    </div>
  </div>
  <button type="submit" class="text-lg w-full {% if add_next_btn %}rounded-xl bg-white border-4 border-yellow-400 hover:border-yellow-500 cr2{% else %}cbtn{% endif %} px-2 py-1 mt-7">
    <span class="text-center inline-flex items-center">
    {% if add_next_btn %}
      <svg class="fill-current w-4 h-4 mr-2" style="transform: scale(-1,1)"><use xlink:href="{% static 'img/svg-defs.svg' %}#add"></use></svg>
      {% trans 'Add new' %}
    {% elif addupdate %}
      {% trans 'Save' %}
    {% else %}
      {% trans 'Next' %}
      <svg class="fill-current w-3 h-4 ml-2" style="transform: scale(-1,1)"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow"></use></svg>
    {% endif %}
    </span>
  </button>
</form>
</div>
{% comment %}<!--onclick="validateAddr()" {% block js %}
<script>
  function validateAddr() {
    var zip = document.getElementById('id_zip').value,
      regex = new RegExp('^[1-9]\d{5}$');
    if (regex.test(zip)) {
      document.getElementById('zip_msg').className = "block text-yellow-600 mt-1 ml-1";
    } else {
    document.getElementById('zip_msg').className = "hidden";
    }
  }
</script>
{% endblock %}
map django geo check coordinates https://stackoverflow.com/questions/578406/what-is-the-ultimate-postal-code-and-zip-regex
$ZIPREG=array(
  "US"=>"^\d{5}([\-]?\d{4})?$",
  "UK"=>"^(GIR|[A-Z]\d[A-Z\d]??|[A-Z]{2}\d[A-Z\d]??)[ ]??(\d[A-Z]{2})$",
  "DE"=>"\b((?:0[1-46-9]\d{3})|(?:[1-357-9]\d{4})|(?:[4][0-24-9]\d{3})|(?:[6][013-9]\d{3}))\b",
  "CA"=>"^([ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ])\ {0,1}(\d[ABCEGHJKLMNPRSTVWXYZ]\d)$",
  "FR"=>"^(F-)?((2[A|B])|[0-9]{2})[0-9]{3}$",
  "IT"=>"^(V-|I-)?[0-9]{5}$",
  "AU"=>"^(0[289][0-9]{2})|([1345689][0-9]{3})|(2[0-8][0-9]{2})|(290[0-9])|(291[0-4])|(7[0-4][0-9]{2})|(7[8-9][0-9]{2})$",
  "NL"=>"^[1-9][0-9]{3}\s?([a-zA-Z]{2})?$",
  "ES"=>"^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$",
  "DK"=>"^([D|d][K|k]( |-))?[1-9]{1}[0-9]{3}$",
  "SE"=>"^(s-|S-){0,1}[0-9]{3}\s?[0-9]{2}$",
  "BE"=>"^[1-9]{1}[0-9]{3}$",
  "IN"=>"^\d{6}$"
);-->{% endcomment %}