{% load i18n static %}
<form method="post" {% if 'action_url' %}action="{{ action_url }}" {% endif %}> {% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next_url }}">
  {% endif %}
  {% if address_type %}
  <input type="hidden" name="address_type" value="{{ address_type }}">
  {% endif %}
  <div class="xl:mx-">
    <div class="mt-2">
      <div class="text-left ml-2 md:ml-6 xl:ml-2">{{ form.street.label }}</div>
      {{ form.street }}
    </div>
    <div class="mt-2">
      <div class="text-left ml-2 md:ml-6 xl:ml-2">{{ form.city.label }}</div>
      {{ form.city }}
    </div>
    <div class="mt-2">
      <div class="text-left ml-2 md:ml-6 xl:ml-2">{{ form.state.label }} <span class="text-gray-700">{% trans 'Optional' %}</span></div>
      {{ form.state }}
    </div>
    <div class="mt-2">
      <div class="text-left ml-2 md:ml-6 xl:ml-2">{{ form.country.label }}</div>
      {{ form.country }}
    </div>
    <div class="mt-2">
      <div class="text-left ml-2 md:ml-6 xl:ml-2">{{ form.postal_code.label }}</div>
      {{ form.postal_code }}
    </div>
    <button type="submit"
      class="mt-7 w-full{% if add_next_btn %} rounded-xl bg-white border-4 border-yellow-400 hover:border-yellow-500{% else %} rounded-lg bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 border-2 border-yellow-300 hover:border-yellow-400{% endif %} focus:outline-none focus:ring-2 focus:ring-yellow-200 focus:ring-offset-transparent focus:ring-offset-2 py-1 px-2">
      {% if add_next_btn %}{% trans 'Add new' %}{% else %}
      <div class="text-center inline-flex items-center">{% trans 'Next' %} <svg class="fill-current w-3 h-4 ml-1"
          style="transform: scale(-1,1)">
          <use xlink:href="{% static 'img/svg-defs.svg' %}#arrow"></use>
        </svg></div>{% endif %}
    </button>
  </div>
</form>
{% comment %}<!-- add map django geo check coordinates-->{% endcomment %}