{% load i18n %}
{% if address_qs.exists %}
<form method="POST" {% if 'action_url' %}action="{{ action_url }}"{% endif %}> {% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next_url }}">
  {% endif %}
  {% if address_type %}
  <input type="hidden" name="address_type" value="{{ address_type }}">
  {% endif %}
  {% for address in address_qs %}
  <div class="border border-gray-300 bg-white rounded-lg shadow p-2 mt-3">
    <input id="address-{{ address.id }}" type="radio" name="shipping_address" value="{{ address.id }}">
    <label for="address-{{ address.id }}" class="items-center">
      {{ address.street }}
      <p class="ml-4">{{ address.city }}, {{ address.state }}</p>
      <p class="ml-5">{{ address.country }}, {{ address.postal_code }}</p>
    </label>
  </div>
  {% endfor %}
  <button type="submit" class="mt-7 w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 border-2 border-yellow-300 hover:border-yellow-400 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-200 focus:ring-offset-transparent focus:ring-offset-2 py-1 px-2">
  {% trans 'Next' %}</button>
</form>
{% endif %}