{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% if form.instance.street %}{% trans 'Update Address' %}{% else %}{% trans 'Add Address' %}{% endif %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-xs mx-auto">
  <h1 class="text-center text-2xl border-b border-gray-300 font-semibold pb-3 mb-4">
    {% if form.instance.street %}
    {% trans 'Update Address' %}
    {% else %}
    {% trans 'Add Address' %}
    {% endif %}
  </h1>
  {% include 'addresses/form.html' with addupdate=form %}
</div>
{% endblock %}