{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Team' %}{% endblock %}
{% block content %}
{% if team %}
<div class="font-c-sans lg:max-w-3xl xl:max-w-5xl mx-auto">
  <div>
    <svg class="s fill-current w-40 h-40 mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
  </div>
  <div class="text-center mb-2 mt-8 mx-auto">
    <h1 class="h1">{% if title %}{{ title }}{% else %}{{ com }} Team{% endif %}</h1>
    <p class="font-c uppercase text-gray-800 bordb pb-4 mt-2">{% if motto %}{{ motto }}{% else %}Qualis Super Quantitas{% endif %}</p>
  </div>
  <div class="md:flex items-stretch">
  {% for m in team %}
  {% if m.show %}
  <div class="self-start mt-6">
    <a {% if m.bio %}href="{{ m.get_absolute_url }}" {% endif %}id="{{ m.slug }}" class="carditem">
      {% if m.img %}<img loading="lazy" src="{{ m.img.url }}" alt="{{ m.name }}" class="h-64 w-64 mx-auto object-center rounded-t-xl">
      {% else %}
      <svg class="h-64 w-64 text-gray-600 fill-current mx-auto"><use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use></svg>
      {% endif %}
      <div class="text-center space-y-2 m-4">
        <p class="mb-1 mt-2">{{ m.name }}</p>
        <p class="text-sm text-gray-700">{{ m.job_title }}</p>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
  </div>
  <div class="text-center mb-4 mt-8">
    <div class="inline-block space-y-4 bordt">
      <p class="text-lg pt-4">{% blocktranslate %}Time since {{ com }} foundation{% endblocktranslate %}</p>
      <div id="ctime" class="inline-flex bord bg-white shadow rounded-full px-1">
        <div class="border-r border-gray-300 px-2 py-1">
          <span class="days pr-1">00</span>
          <span class="timeRefDays">{% trans 'days' %}</span>
        </div>
        <div class="px-2 py-1">
          <span class="hours pr-1">00</span>
          <span class="timeRefHours">{% trans 'hours' %}</span>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="font-c-sans text-gray-900 max-w-xs mx-auto">
  <h1 class="text-xl my-5">{% trans 'Call to action' %}</h1>
    <p>{% blocktranslate %} If you have read <a class="un font-semibold" href="{{ essays_url }}{{ why }}">{{ com }}'s scope</a> and matches your purpose, please
    <a class="text-yellow-500 hover:text-yellow-600 font-semibold focus:outline-none" href="{{ contact_url }}">contact us</a>.{% endblocktranslate %}</p>
</div>
{% endif %}
{% endblock %}
{% comment %}<!-- t-img transition duration-500 ease-in-out hover:text-gray-600logo animation ae <div class="border-r border-gray-400 p-2">{ { team_url }}{{ m.slug }}
  <span class="years pr-1">00</span>
  <span class="timeRefYears">{% trans 'years' %}</span>
</div><div class="hover:bg-gray-hover p-2">
  <span class="seconds pr-1">00</span>
  <span class="timeRefSeconds">{% trans 'seconds' %}</span>
</div>
<div class="px-2 py-1">
  <span class="minutes pr-1">00</span>
  <span class="timeRefMinutes">minutes</span>
</div>
// Month Day, Year Hour:Minute:Second, id-of-element-container//2021-05-05 *set date of deployment
// years  = Math.floor(days / 365)
  mins = Math.floor(((timeDifference % (secondsInADay)) % (secondsInAHour)) / (60 * 1000) * 1);
  secs = Math.floor((((timeDifference % (secondsInADay)) % (secondsInAHour)) % (60 * 1000)) / 1000 * 1);
// idEl.getElementsByClassName('years')[0].innerHTML = years;
  idEl.getElementsByClassName('minutes')[0].innerHTML = mins;
  idEl.getElementsByClassName('seconds')[0].innerHTML = secs;
Add pitch deck https://revealjs.com/installation/-->{% endcomment %}