{% if obj.img %}
<div id="{{ obj.slug }}" class="text-gray-800 hover:text-black rounded-lg border border-gray-300 bg-white shadow hover:shadow-lg hover:border-yellow-500 mx-auto">
  <a href="{{ obj.get_absolute_url }}" class="focus:outline-none">
    <img src="{{ obj.img.url }}" loading="lazy" alt="{{ obj.title }}" class="rounded-t-lg w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500">
    <div class="space-y-2 p-4">
      {% for t in obj.tags.all %}<p class="bg-footer inline-flex rounded-full font-semibold mx-auto text-center px-2 py-1">#{{ t.name }}</p>{% endfor %}
      <div class="hyphens">
        <p class="text-lg">{{ obj.title }}</p>
        {% if obj.summary %}
        <p>{{ obj.summary|truncatewords:9 }}</p>
        {% endif %}
      </div>
    </div>
  </a>
</div>
{% endif %}
