{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Learn' %}{% endblock %}
{% block content %}
{% if object_list %}
<div class="max-w-sm mx-auto">
  <div class="font-c-serif bg-white bord shadow rounded-xl p-5">
    <blockquote class="relative px-4 text-xl">
      <div class="italic">
        <div style="font-size: 5rem;" class="-ml-10 text-yellow-200 opacity-75 absolute -top-3 leading-none" aria-hidden="true">
          &ldquo;
        </div>
        <p>{% blocktranslate %}Call to mind from whence we sprang:
        You were not formed to live the life of brutes
        But virtue to pursue and knowledge high.{% endblocktranslate %}</p>
        <div style="font-size: 5rem;" class="-mt-8 text-yellow-200 opacity-75 absolute right-2 leading-none" aria-hidden="true">
          &rdquo;
        </div>
      </div>
      <p class="text-sm text-gray-800 pt-1">— Dante Alighieri, <cite><a href="https://www.gutenberg.org/ebooks/8800" class="un" target="_blank" rel="noopener">Inferno 26.119-20</a>, La Divina Commedia</cite></p>
    </blockquote>
    <div class="py-2">
      <p>{% trans 'During one of our conversations, a friend asked:' %}</p>
      <blockquote class="py-2 px-6">
        <q>{% trans 'What are the key writings that a would-be well-rounded enlighten human being has to be aware of?' %}</q>
      </blockquote>
      <p>{% trans 'This is our selection as of 2002021-03' %}.</p>
      <p class="pt-2">{% trans 'Enjoy learning' %}</p>
    </div>
  </div>
  {% for o in object_list %}
  {% include 'education/bcard.html' with obj=o %}
  {% endfor %}
</div>
{% else %}
<div class="wxs">
  <h1 class="h1">{% trans 'Studying in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when the work is published, please type your email and click on Get Vpdates. Thank You' %}</p>
</div>
{% endif %}
{% endblock %}
<!--{% comment %}{ % trans 'Well, we needed more than one evening to answer that. The following is our thoughtful selection. We recommend you to bring with you at least one motivated companion to make your learning journey more consistent, and to review' %} <a href="https://openlibrary.org/books/OL8673330M/How_to_Read_a_Book" class="tooltip" title="Something to be aware of" target="_blank" rel="noopener">this only prerequisite</a>.</p>
<p>{ % trans 'P.S. Get used to one-hour daily writing habit, if you want to further elaborate on the important ideas you are going to encounter along your journer. Sooner you get used to write the better is for yourself, for your community you live in, and potentially, for the whole society' % }.</p>{% endcomment %}--><!--{# Why this section? In this time of <a class="hover:underline" href="https://en.wikipedia.org/wiki/Information_overload" target="_blank" rel="noopener">information overload</a> having a clear content selection is essential. The 21st-century human is who knows of knowing nothing but at least they know key concepts. This is both for personal clarity and public benefit. You were not made to live as brutes, but to follow virtue and knowledge.#}-->