{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Not Found' %}{% endblock %}
{% block content %}
<div class="font-c-sans text-gray-800 max-w-xs mx-auto">
  <h1 class="text-xl text-black my-5">{% trans 'Page not found' %}</h1>
  <div class="mx-auto">{% include 'search/snippets/search-form.html' %}</div>
</div>
{% endblock %}
{% comment %}<!--404 <p><a href="{{ contact_url }}">Contact us</a> if you think something important is missing.</p>
    <p>Thank You</p>
     \           Sorry           /
      \                         /
       \    This page does     /
        ]   not exist (yet)   [    ,'|
        ]                     [   /  |
        ]___               ___[ ,'   |
        ]  ]\             /[  [ |:   |
        ]  ] \           / [  [ |:   |
        ]  ]  ]         [  [  [ |:   |
        ]  ]  ]__     __[  [  [ |:   |
        ]  ]  ] ]\ _ /[ [  [  [ |:   |
        ]  ]  ] ] (#) [ [  [  [ :===='
        ]  ]  ]_].nHn.[_[  [  [
        ]  ]  ]  HHHHH. [  [  [
        ]  ] /   `HH("N  \ [  [
        ]__]/     HHH  "  \[__[
        ]         NNN         [
        ]         N/"         [
        ]         N H         [
       /          N            \
      /           q,            \
     /                           \
<div class="flex bg-orange-lightest p-4 m-auto">
<div class="mr-4"><div class="h-10 w-10 text-white bg-orange-dark rounded-full flex justify-center items-center">
<i class="material-icons">warning</i></div></div><p>404 Error</p>
https://issuu.com/chebblakozz3/docs/0865718539-being_the_change__live_w
Add 404 Clavem design https://stackoverflow.com/questions/65762688/how-to-convert-text-to-speech-and-speech-to-text-in-django-3-->{% endcomment %}