{% load cache i18n static meta custom_template_tags %}{#<!-- hosts analytical render_bundle from webpack_loader crispy_forms_tags -->#}
{% now 'Y' as current_year %}
{% now 'H' as current_hour %}
{% url 'analytics:sales' as sales_url %}
{% url 'home:home' as home_url %}
{% url 'home:trademark' as mark_url %}
{% url 'chat:contact' as contact_url %}
{% url 'home:cookie' as cookie_url %}
{% url 'home:privacy' as privacy_url %}
{% url 'home:terms' as terms_url %}
{% url 'home:donate' as donate_url %}
{% url 'team:index' as team_url %}
{% url 'read:list' as essays_url %}
{% url 'learn:list' as edu_url %}
{% url 'shop:list' as shop_url %}
{% url 'search:query' as search_url %}
{% url 'register' as register_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'cart:home' as cart_url %}
{% url 'cart:update' as update_cart_url %}
{% url 'cart:checkout' as checkout_url %}
{% url 'address:addresses' as addresses %}
{% url 'address:address-create' as address_create %}
{% url 'address:address-update' as address_update %}
{% url 'address:checkout_address_create' as checkout_address_create %}
{% url 'address:checkout_address_reuse' as checkout_address_reuse %}
{% url 'account:user-home' as account_url %}
{% url 'account:user-product-history' as prod_history_url %}
{% url 'orders:list' as order_url %}
{% url 'billing:billing-payment-method' as billing_url %}
{% url 'email-marketing-pref' as mkt_url %}
{% url 'library' as dig_lib_url %}
{% url 'account:user-update' as usr_update_url %}
{% url 'password_change' as psw_change_url %}
{% url 'password_reset' as psw_reset_url %}
{% url 'clvm:curl' as short_url %}
{#<!-- % url 'author' as author_bio_url % } url 'pdf' as pdf_url url 'newsletter:newsletter_subscribe_request' as newsletter -->#}

{% with url='https://www.clavem.co' com='Clavem' why='why/' newsletter='/newsletter/clavem-news/subscribe/' launched='May 30, 2021 9:00:00' liberapay_url='https://liberapay.com/Clavem/donate' gitlab_url='https://github.com/clavem' twit_url='https://twitter.com/clavem' %}
{% comment %}<!-- request.scheme # http or https
 equest.META['HTTP_HOST'] # example.com
request.path # /some/content/
/newsletter/[NAME-OF-NEWSLETTER]/subscribe/ recaptchav3='6LcicwYaAAAAAKyAuNUO8ZJK_epWL5dzZdyoDdnS' request.url :class="{ { error ? 'text-red-600' : 'text-green-600' }}" address_btc='btc_wallet' address_eth='eth_wallet' yt_url='https://www.youtube.com/channel/' fb_url='https://facebook.com/clavem' ig_url='https://instagram.com/clavem' -->{% endcomment %}
{% spaceless %}
{% autoescape off %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head {% meta_namespaces %}>
{#<!-- % analytical_head_top % { % include 'base/snippets/fullscreen.html' % -->#}
  {% include 'base/snippets/head.html' %}
  <title>{% block title %}{% endblock %} · {{ com }}</title>
  
  {% block css %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  {#<!-- <script>if (typeof Vue == 'undefined') {document.write(unescape("%3Cscript src='{% static '/js/vue.min.js' %} type='application/javascript'%3E%3C/script%3E"));}</script><link rel="stylesheet" href="https://csswizardry.com/ct/ct.css" class="ct"/>-->#}
</head>
<body class="bg-primary text-white cb">{#<!--% analytical_body_top %-->#}
  <div id="nojs" class="flex-col w-screen h-screen">
    <script src="https://unpkg.com/vuex@3.6.1/dist/vuex.js"></script>
    <script>
      var i = 0,//, x a = false, ids = [],
        t = 0.00;
      // if ({{ request.session.item_id }}) {
      //   ids = {{ request.session.item_id }};
      //   console.log(ids);
      // }
      // for (; ids['x']; x++) {
      //   console.log(ids);
      //   if (ids[x] === '{{ object.id }}') {
      //     a = true;
      //   }
      // }
      if ('{{ request.session.cart_items }}') {
        i = parseInt('{{ request.session.cart_items }}');
      }
      if ('{{ cart.total }}') {
        t = parseFloat('{{ cart.total }}').toFixed(2);
      }
      var store = new Vuex.Store({
        state: {
          // added: false,
          // items: [],
          nrItems: i,
          totalOrder: t
        },
        mutations: {
          // addedItem(state, added) {
          //   state.added = added;
          // //   for p in cart.products.all
          // // p.name
          // },
          // itemList(state, itemId) { state.items += itemId }
          updateNrItems(state, qty) {
            state.nrItems += qty;
          },
          updateTotal(state, newItem) {
            state.totalOrder = parseFloat(state.totalOrder) + parseFloat(newItem);
            state.totalOrder = parseFloat(state.totalOrder).toFixed(2)
          }
        }
      })
    </script>
    {% include 'base/nav.html' %}
    <main class="px-2 md:px-0 mb-auto">
      {% block media %}{% endblock %}
      <div class="cw py-8">
        {% include 'base/snippets/message.html' %}
        {% block content %}{% endblock %}
      </div>
    <input type="hidden" name="y" id="y" value="{{ current_year }}">
    <input type="hidden" name="launchDate" id="launchDate" value="{{ launched }}">
    </main>
    {% include 'base/footer.html' %}
  </div>
  {% include 'base/noscript.html' %}
  {% include 'base/js.html' %}
  {% block js %}{% endblock %}
  {% if not request.user.email %}
  {% include 'base/snippets/cookieconsent.html' %}
  <!-- <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000"
        },
        "button": {
          "background": "#f1d600"
        }
      },
      "theme": "edgeless",
      "type": "opt-out",
      "content": {
        "dismiss": "Ok",
        "deny": "Opt out",
        "link": "Cookie Policy",
        "href": "{{ cookie_url }}",
        "target": "_blank"
      }
    });
    </script> -->
  {% endif %}
</body>
</html>
{% endautoescape %}
{% endspaceless %}
{% endwith %}{% comment %}<!--<script type="text/javascript" src="//www.cookieconsent.com/releases/4.0.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"dark","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false});
});
</script>
<noscript>ePrivacy and GPDR Cookie Consent by <a href="https://www.CookieConsent.com/" rel="nofollow noopener">Cookie Consent</a></noscript>
<img srcset="img-480w.jpg 480w, img-800w.jpg 800w" sizes="(max-width: 600px) 480px, 800px"src="elva-fairy-800w.jpg" elva-fairy-320w.jpg, elva-fairy-480w.jpg 1.5x, elva-fairy-640w.jpg 2x" alt="Elva dressed as a fairy"> https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images
 % if cart_url in request.path %}oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;"{ % endif %}% analytical_head_bottom % ondblclick="focusMode(document.documentElement);" ondblclick="exitFullscreen();"
{ % cache 600 footer %}{ % endcache %}{ % analytical_body_bottom %}Hey, we're still opening up but anyone can join with an invite from an existing user! setTimeout(function() { location.href="https://www.duckduckgo.com/"; }, 500); GDPR-banner <div x-data="{ show: !localStorage.getItem('hide-banner') }"><div x-show="show"><button @click="localStorage.setItem('hide-banner', true); show = false">close</button></div></div>
<script>export default { data() { return { theme: 'light', }}</script>
{ % render_bundle 'app' %}Vue production src/frontend/dist/bundle.js <script type="text/javascript" src="{ % static 'bundle.js' %}"></script>-->{% endcomment %}