{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Shop' %}{% endblock %}
{% block content %}
{% if object_list %}
<div class="font-c-sans lg:max-w-3x xl:max-w-5x mx-auto">
  <div class="text-center md:bordb">
    <h1 class="h1">{% trans 'Products' %}</h1>
  </div>
  <div class="md:inline-flex">
    {% if menu_categories %}
    <div class="flex-col md:flex-row md:mt-6 md:mr-6">
      <div @click.away="menu = false" class="flex flex-col w-full md:w-40 bord rounded-xl flex-shrink-0 shadow pt-3 pb-2" x-data="{ menu: false }">
        <div class="flex-shrink-0 flex flex-row items-center space-x-3 md:space-x-1 mx-4">
          <button class="rounded-lg md:hidden cr2 p-1" @click="menu = !menu">
{% comment %}<!-- <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
  <path x-show="!menu" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
  <path x-show="menu" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
</svg> -->{% endcomment %}
            <svg class="w-4 h-4 fill-current mx-auto">
              <use x-show="!menu" xlink:href="{% static 'img/svg-defs.svg' %}#o"></use>
              <use x-show="menu" xlink:href="{% static 'img/svg-defs.svg' %}#x"></use>
            </svg>
            <span hidden>{% trans 'Menu' %}</span>
          </button>
          <h2 class="text-xl">{% trans 'Categories' %}</h2>
        </div>
        <nav x-show="!menu" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="flex-grow md:block md:overflow-y-auto space-y-1 px-3 py-1">
          {% for c in menu_categories %}
          {% if c.active %}
          <a href="{% url 'shop:category' c.slug %}" class="flex w-full hover:text-yellow-400 items-center overflow-hidden border-2 border-transparent hover:border-yellow-400 cr2 rounded-xl p-2">{{ c.name }}</a>
          {% endif %}
          {% endfor %}
        </nav>
      </div>
    </div>
    {% endif %}
    <div class="md:inline-flex items-stretch">
    {% for o in object_list %}
    {% if o.active %}{% include 'shop/snippets/pcard.html' with object=o %}{% endif %}
    {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="wxs">
  <h1 class="h1">{% trans 'Product development in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when product are available, please type your email and click on Get Vpdates. Thank You' %}</p>
</div>
{% endif %}
{% endblock %}{% comment %}<!--dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:text-white dark-mode:hover:text-white dark-mode:text-gray-200 cr2 px-2 py-1
{% if 'search' in request.path %}rounded-lg{% endif %}{% if forloop.first %}rounded-t-lg{% elif forloop.last %}rounded-b-lg{% endif %}
Offering and obj.quantity > 0 <div @click.away="open = false" class="relative" x-data="{ open: false }">
<button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:block hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
  <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
</button>
<div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg">
<div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800"><a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #1</a>-->{% endcomment %}
