{% load i18n %}
<div class="max-w-xs mx-auto">
  <h1 class="text-lg text-center font-semibold uppercase">{% trans 'Payment Card' %}</h1>
  <div id="card" class="stripe-payment-for my-4" data-token="{{ publish_key }}" data-next-url="{{ next_url }}"></div>
  <div id="checkout-btn" class="stripe-payment-form my-4" data-token="{{ publish_key }}" data-next-url="{{ next_url }}"></div>
</div>
<script>
  var stripe = Stripe("{{ publish_key }}");
  let el = stripe.elements();
  card = el.create("card");
  card.mount("#card");
</script>
{% comment %}<!-- cdev.stripe.js -->{% endcomment %}