{% verbatim %}
<script id="stripeTemplate" type="text/x-jsrender">
  <form class="payment-form" action="" method="post" id="payment-form" data-token="{{:publishKey}}" data-next-url="{{:nextUrl}}">
    <div class="form-row">
      <div id="card-element"></div>
      <div id="card-errors" class="text-yellow-600 transform hover:scale-110 hover:pl-4 pt-1" role="alert"></div>
    </div>
    <div class="text-center">
      <button class="cbtn mt-6">
        {{:btnTitle}}</button>
    </div>
  </form>
</script>
{% endverbatim %}{#<!--% if action_url %}{{action_url}}{% endif-->#}