{% load static %}
{% spaceless %}
<a href="{{ object.get_absolute_url }}" id="{{ object.slug }}" class="flex w-full bg-white text-gray-600 hover:text-yellow-500 hover:bg-gray-200 items-center justify-between shadow overflow-hidden border border-gray-200 hover:border-yellow-400 focus:outline-none {% if 'search' in request.path %}rounded-lg{% endif %}{% if forloop.first %}rounded-t-lg{% elif forloop.last %}rounded-b-lg{% endif %} p-3"{% if object.tags %} data-tippy-content="Keyword{% if object.tags.all|length > 1 %}s{% endif %}: {% for t in object.tags.all %}{{ t.name }}{% if forloop.counter > 1 or not forloop.last %}, {% endif %}{% endfor %}"{% endif %}>
  <span class="text-black">{{ object.title }}</span>
  {% if object.recommend %}<svg class="inline-flex w-3 h-3 fill-current mr-3"><use xlink:href="{% static 'img/svg-defs.svg' %}#star"></use></svg>{% endif %}
  {% if object.audio %}
  <svg class="inline-flex w-8 h-5 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#mic"></use></svg>
  {% else %}
  <svg class="inline-flex w-5 h-5 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#pdf"></use></svg>
  {% endif %}
</a>
{% endspaceless %}
{% comment %}<!-- forloop.counter <a href="{{ essay.get_absolute_url }}" id="{{ essay.slug }}" class="flex w-full bg-white hover:bg-gray-200 text-black items-center justify-between shadow overflow-hidden border border-gray-200 p-3 focus:outline-none rounded-lg"{% if essay.tags %} data-tippy-content="{% for t in essay.tags.all %}#{{ t.name }} {% endfor %}"{% endif %}>{{ essay.title }}
  {% if essay.recommend %}<svg class="inline-flex text-gray-60 w-3 h-3 fill-current mr-3"><use xlink:href="{% static 'img/svg-defs.svg' %}#star"></use></svg>{% endif %}
  {% if essay.audio %}
  <svg class="inline-flex w-8 h-5 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#mic"></use></svg>
  {% else %}
  <svg class="inline-flex w-5 h-5 fill-current"><use xlink:href="{% static 'img/svg-defs.svg' %}#pdf"></use></svg>
  {% endif %}
</a>
  <a href="{% url 'read:detail' slug=essay.slug %}" class="focus:ring-2 focus:ring-yellow-200 focus:ring-offset-transparent focus:ring-offset-2">
  {% if essay.img %}<img src="{{ essay.img.url }}" alt="{{ essay.title }}" class="w-full bg-gradient-to-tr to-yellow-300 from-yellow-400 hover:to-yellow-300 hover:from-yellow-500 focus:outline-none">{% endif %}
  <div class="px-6 py-4">
    {{ essay.text|truncatewords:8 }}
    <div class="pt-6 pb-4">
      <span class="inline-block bg-gray-aaa rounded-full text-sm font-semibold text-gray-800 px-3 py-1">
      {% for t in essay.tags.all %}#{{ t.name }} {% endfor %}
      </span>
    </div>
  </div>
</a> -->{% endcomment %}
