{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Read' %}{% endblock %}
{% block content %}
<div class="wxs">
{% if essays %}
  <div class="text-center mb-5">
    <h1 class="h1">{% if title %}{{ title }}{% else %}{% trans 'Writings' %}{% endif %}</h1>
    <p class="inline-flex items-center"><svg class="w-3 h-3 fill-current mx-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#star"></use></svg> {% trans 'indicates recommended writings.' %}</p>
  </div>
  {% for e in essays %}
  {% include 'essays/wcard.html' with object=e %}
  {% endfor %}
{% else %}
  <h1 class="h1">{% trans 'Writing in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when the work is published, please type your email and click on Get Vpdates. Thank You' %}</p>
{% endif %}
</div>
{% endblock %}