{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Read' %}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-xs mx-auto">
{% if essays %}
  <div class="text-center mb-5">
    <h1 class="text-xl font-semibold mb-2">{% if title %}{{ title }}{% else %}{% trans 'Writings' %}{% endif %}</h1>
    <p class="inline-flex items-center"><svg class="w-3 h-3 fill-current mx-1"><use xlink:href="{% static 'img/svg-defs.svg' %}#star"></use></svg> {% trans 'indicates recommended writings.' %}</p>
  </div>
  {% for essay in essays %}
  {% include 'essays/wcard.html' %}
  {% endfor %}
{% else %}
  <div class="text-gray-900">
    <h1 class="text-xl my-5">{% trans 'Writing in progress' %}</h1>
    <p>{% trans 'If you would like to be notified when the work is published, please type your email and click on Get Vpdates. Thank You' %}</p>
  </div>
{% endif %}
</div>
{% endblock %}