{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{% trans 'Buy' %} {{ object.name_product }}{% endblock %}
{% block content %}
<div class="font-c-sans max-w-4xl lg:max-w-5xl lg:flex px-2 sm:px-0 md:px-2 lg:space-x-8 mx-auto">
  <div class="lg:w-1/3 mx-auto">
    {% if object.video %}
    <video loading="lazy" class="rounded-lg border border-gray-300 shadow" controls>
      <source src="{{ object.video.url }}" type="video/mp4">
      <source src="{{ object.video.url }}" type="video/ogg">
      {#<!-- Fallback if the browser doesn't support video tag -->#}
      <embed src="{flash_swf_file}.swf" type="application/x-shockwave-flash"></embed>
    </video>
    {% elif object.video_link %}
    <iframe src="{{ object.video_link }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
    {% elif object.img %}
    <div id="img-div">
      <img loading="lazy" id="pic" src="{{ object.img.url }}" alt="{% trans 'Product detail' %}" class="border border-gray-300 rounded-xl shadow-md mx-auto">
    </div>
    {% else %}
    <svg class="lg:w-28 lg:h-28 text-gray-400 fill-current mx-auto">
      <use xlink:href="{% static 'img/svg-defs.svg' %}#clogo"></use>
    </svg>
    {% endif %}
{% comment %}<!--muted width="560" height="315"{ % for img in object.img.all %}
{ % if img.is_feature %}
<img src="{{ img.url }}" alt="{{ img.alt_text }}" class="">
{% endif %}
{% endfor %}
{% endif %}-->{% endcomment %}
  </div>
  <div class="lg:w-1/3 mt-6 lg:mt-0">
    <h1 class="text-2xl">{{ object.name_product }}</h1>
    <div class="list-inside mt-2">
      {{ object.text|safe|linebreaks }}
    </div>
  </div>
  <div class="lg:w-1/3 space-y-8 m-auto border border-gray-300 bg-white p-4 xl:p-6 rounded-lg shadow">
    <div x-data="{ qty: '1' }" class="w-full inline-flex justify-between items-center">
      <div class="text-left inline-flex items-center">
        {% if object.is_digital %}
        <p>{% trans 'Digital' %}</p>
        {% else %}
        <label for="qty" class="mr-2">{% trans 'Quantity' %}:</label>
        <div class="relative space-x-2">
          <select id="qty" @change="qty = $event.target.value" class="appearance-none border border-gray-400 text-black px-2 pr-4 py-1 rounded-lg focus:outline-none focus:ring-2 ring-yellow-200 ring-offset-transparent ring-offset-2 bg-white hover:border-yellow-500 shadow" name="qty">
            {% for q in object.rangeqty %}
            <option value="{{ q }}" x-bind:value="{{ q }}">{{ q }}</option>
            {% endfor %}
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-1 text-gray-600">
            <svg class="r-180 fill-current h-4 w-4"><use xlink:href="{% static 'img/svg-defs.svg' %}#arrow-d"></use></svg>
          </div>
        </div>
        {% endif %}
      </div>
      <div class="text-right mr-1">
        <p>{% include 'base/snippets/currency.html' %}{{ object.price }}</p>
        <p x-show="qty > 1" x-text="'&#215;' + qty" class="text-gray-500 text-sm"></p>
      </div>
    </div>
    <div class="w-full inline-flex items-center justify-between">
      {% include 'base/snippets/backbtn.html' with url=shop_url id=object.slug %}
      {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
    </div>
  </div>
</div>
{% endblock %}
{% comment %}<!--{ % block js %}&times;
  productqty: $('#qty option:selected').text(),
{ % endblock %}
custom_tags https://turingpi.com/ add video/gif Your browser does not support the video tag.
 2E3A47 313A45 171717 cbd5e0 a0aec0 EEEEEE F39C12 FCEBB6 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)
{ % block css %}<style>
/* #pic{
  /* max-width: 500px;
  max-height: 600px; */
  /* border: 2px solid black; */
  /* cursor: pointer;} */
#img-div{
  z-index: 1;
  /* max-width: 400px;
  max-height: 300px; */
  position: relative;
}
#zum{
  z-index: 2;
  position: absolute;
  height: 180px;
  width: 180px;
  border:1px solid black;
  background-repeat: no-repeat;
  cursor: none;
}</style>{ % endblock %}
Add 360 gif or slideshow { % if not object.is_digital %}<div id="zum" class="hidden xl:block"></div>{ % endif %}
<script>
  $(document).on('click', '#buybtn', function (e) {
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{{ update_cart_url }}',
      data: {
        productid: $('#product_id').val(),
        productqty: $('#qty-id option:selected').text(),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },
      success: function (json) {
        document.getElementById("basket-qty").innerHTML = json.qty
      },
      error: function (xhr, errmsg, err) { }
    });
  })
</script>-->
<!--{ % block js %}{ % endblock %}
<script type="text/javascript" src="{ % static 'js/zum.js' %}"></script>url: "{ % url 'cart:cart_add' %}", 
<script>
$(document).on('click', '#buybtn', function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    data: {
      productid: $('#product_id').val(),
      productqty: $('#id_qty option:selected').text(),
      csrfmiddlewaretoken: '{% csrf_token %}',
      action: 'post's
    },
    success: function(json) {
      console.log(json)
    },
    error: function(xhr, errmsg, err) {
    }
  })
})
</script>-->{% endcomment %}