{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Shop' %}{% endblock %}
{% block content %}
{% if object_list %}
<div class="font-c-sans max-w-xs md:max-w-3xl xl:max-w-5xl mx-auto">
  <div class="text-center border-b border-gray-300">
    <h1 class="text-2xl font-semibold pb-4">{% trans 'Products' %}</h1>
  </div>
  <div class="lg:flex items-stretch">
  {% for o in object_list %}
  {% if o.active %}
    {% include 'products/snippets/pcard.html' with object=o %}
  {% endif %}
  {% endfor %}
  </div>
</div>
{% else %}
<div class="font-c-sans text-gray-900 max-w-xs mx-auto">
  <h1 class="text-2xl text-black my-5">{% trans 'Product development in progress' %}</h1>
  <p>{% trans 'If you would like to be notified when product are available, please type your email and click on Get Vpdates. Thank You' %}</p>
</div>
{% endif %}
{% endblock %}{#<!--Offering and obj.quantity > 0-->#}