{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'History' %}{% endblock %}
{% block content %}
{% if object_list %}
<div class="font-c-sans max-w-xs md:max-w-3xl xl:max-w-5xl mx-auto">
  <div class="text-center border-b border-gray-300">
    <h1 class="text-xl font-semibold pb-4">{% trans 'Products Viewed' %}</h1>
  </div>
  {% for obj in object_list %}
  {% include 'products/snippets/product-card.html' with object=obj %}
  {% endfor %}
</div>
{% else %}
<div class="max-w-sm mx-auto text-center">
  <p class="text-xl inline-flex border-b border-gray-300 font-semibold pb-4" data-tippy-content="(or you deleted your cookies)">{% trans 'No product viewed ._.' %}</p>
</div>
{% endif %}
{% endblock %}