{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% if title %}{{ title }}{% else %}Email{% endif %}{% endblock %}
{% block content %}
<div class="wxs">
  <div class="bordb">
    <h1 class="h1">{% if title %}{{ title }}{% else %}
      {% trans 'Update Email Notifications' %}{% endif %}</h1>
  </div>
  <form method="post"{% if action_url %} action="{{ action_url }}"{% endif %}> {% csrf_token %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    <div class="flex items-center my-6">
      <label for="id_subscribed">{{ form.subscribed.label }}</label>
      <span class="text-right bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">{{ form.subscribed }}</span>
    </div>
    <button type="submit" class="cbtn">{% trans 'Save' %}</button>
  </form>
</div>
{% endblock %}{% comment %}<!--<label class="flex justify-start items-start">
  <div class="bg-white border-2 rounded border-gray-400 w-6 h-6 flex flex-shrink-0 justify-center items-center mr-2 focus-within:border-blue-500">
    <input type="checkbox" class="opacity-0 absolute">
    <svg class="fill-current hidden w-4 h-4 text-green-500 pointer-events-none" viewBox="0 0 20 20"><path d="M0 11l2-2 5 5L18 3l2 2L7 18z"/></svg>
  </div>
  <div class="select-none">Label Text</div>
</label>
<style>input:checked + svg {display: block;}</style>-->{% endcomment %}