{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% if title %}{{ title }}{% else %}Email{% endif %}{% endblock %}
{% block content %}
<div class="px-8 max-w-sm mx-auto">
  <div class="border-b border-gray-400 pb-3">
    <p class="text-lg text-center font-semibold uppercase">{% if title %}{{ title }}{% else %}
      {% trans 'Update your email preferences' %}{% endif %}</p>
  </div>
  <form class="text-sm mt-6" method="POST" action="{% if 'action_url' %}{{ action_url }}{% endif %}"> {% csrf_token %}
    {% if next %}
    <input type='hidden' name='next' value='{{ next_url }}'>
    {% endif %}
    <div class="cursor-pointer my-6">
      <label class="">{{ form }}</label>
    </div>
    <div class="ext-center">
      <button
        class="w-full border-4 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 text-white py-1 px-2 text-sm uppercase rounded focus:outline-none"
        type="submit">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}